Repository lfortran/lfortran, pull requests merged in 2022-07, with the labels that each got.

#49 WASM: Initial support for Arrays
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.h
Labels: wasm, arrays

#52 Implement optional implicit typing
  run_tests.py
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/semantics/ast_to_asr.h
  src/lfortran/tests/test_ast.cpp
  src/lfortran/tests/test_llvm.cpp
  src/lfortran/tests/test_serialization.cpp
  src/libasr/utils.h
  tests/implicit_typing1.f90
  tests/reference/asr-implicit_typing1-bccf386.json
  tests/reference/asr-implicit_typing1-bccf386.stdout
  tests/tests.toml
Labels: parser

#55 WAT: Arrays Fix
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
  src/libasr/codegen/wasm_utils.cpp
  src/libasr/wasm_instructions.txt
Labels: wat

#66 WASM: Support Real and Logical types with Arrays
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm, arrays
