Repository lfortran/lfortran, pull requests merged in 2022-12, with the labels that each got.

#1046 Do not reset precedence when cast does not add parentheses
  integration_tests/expr_11.f90
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_julia.cpp
  tests/reference/c-expr_11-8e5ae80.json
  tests/reference/c-expr_11-8e5ae80.stdout
  tests/reference/julia-expr_11-ab53b8f.json
  tests/reference/julia-expr_11-ab53b8f.stdout
  tests/tests.toml
Labels: julia, c/cpp

#1074 Implement Backspace node
  integration_tests/test_backspace_01.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/comptime_eval.h
  src/libasr/ASR.asdl
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-allow_implicit_interface-b700617.json
  tests/reference/asr-allow_implicit_interface-b700617.stdout
  tests/reference/asr-bits_02-94f2234.json
  tests/reference/asr-bits_02-94f2234.stdout
  tests/reference/asr-flip_sign-7d74d97.json
  tests/reference/asr-flip_sign-7d74d97.stdout
  tests/reference/asr-functions_06-0cedd98.json
  tests/reference/asr-functions_06-0cedd98.stdout
  tests/reference/asr-intrinsics_03-bfdf0de.json
  tests/reference/asr-intrinsics_03-bfdf0de.stdout
  tests/reference/asr-intrinsics_31-dc5e9a8.json
  tests/reference/asr-intrinsics_31-dc5e9a8.stdout
  tests/reference/asr-modules_15b-5be0f8a.json
  tests/reference/asr-modules_15b-5be0f8a.stdout
  tests/reference/asr-parameter1-d475bd9.json
  tests/reference/asr-parameter1-d475bd9.stdout
  tests/reference/asr-string_19-5592188.json
  tests/reference/asr-string_19-5592188.stdout
  tests/reference/asr-test_backspace_01-23012e9.json
  tests/reference/asr-test_backspace_01-23012e9.stdout
  tests/reference/julia-arrays_02-849d7b0.json
  tests/reference/julia-arrays_02-849d7b0.stdout
  tests/reference/pass_flip_sign-flip_sign-e0a724a.json
  tests/reference/pass_flip_sign-flip_sign-e0a724a.stdout
  tests/reference/pass_fma-fma-8a69390.json
  tests/reference/pass_fma-fma-8a69390.stdout
  tests/reference/pass_sign_from_value-sign_from_value-f91e00d.json
  tests/reference/pass_sign_from_value-sign_from_value-f91e00d.stdout
  tests/tests.toml
Labels: asr

#1075 Implemented Iachar as an ASR node
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_46.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/pass_utils.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-allow_implicit_interface-b700617.json
  tests/reference/asr-allow_implicit_interface-b700617.stdout
  tests/reference/asr-bits_02-94f2234.json
  tests/reference/asr-bits_02-94f2234.stdout
  tests/reference/asr-flip_sign-7d74d97.json
  tests/reference/asr-flip_sign-7d74d97.stdout
  tests/reference/asr-functions_06-0cedd98.json
  tests/reference/asr-functions_06-0cedd98.stdout
  tests/reference/asr-intrinsics_03-bfdf0de.json
  tests/reference/asr-intrinsics_03-bfdf0de.stdout
  tests/reference/asr-intrinsics_31-dc5e9a8.json
  tests/reference/asr-intrinsics_31-dc5e9a8.stdout
  tests/reference/asr-intrinsics_46-6a18bcb.json
  tests/reference/asr-intrinsics_46-6a18bcb.stdout
  tests/reference/asr-modules_15b-5be0f8a.json
  tests/reference/asr-modules_15b-5be0f8a.stdout
  tests/reference/asr-parameter1-d475bd9.json
  tests/reference/asr-parameter1-d475bd9.stdout
  tests/reference/asr-string_13-030f8ab.json
  tests/reference/asr-string_13-030f8ab.stdout
  tests/reference/asr-string_19-5592188.json
  tests/reference/asr-string_19-5592188.stdout
  tests/reference/julia-arrays_02-849d7b0.json
  tests/reference/julia-arrays_02-849d7b0.stdout
  tests/reference/llvm-string_13-8952a13.json
  tests/reference/llvm-string_13-8952a13.stdout
  tests/reference/pass_flip_sign-flip_sign-e0a724a.json
  tests/reference/pass_flip_sign-flip_sign-e0a724a.stdout
  tests/reference/pass_fma-fma-8a69390.json
  tests/reference/pass_fma-fma-8a69390.stdout
  tests/reference/pass_sign_from_value-sign_from_value-f91e00d.json
  tests/reference/pass_sign_from_value-sign_from_value-f91e00d.stdout
Labels: asr, llvm

#1073 Fix LLVM backend for implicit interface and BindC changes
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/implicit_interface_01.f90
  integration_tests/implicit_interface_02.f90
  integration_tests/implicit_interface_03.f90
  integration_tests/implicit_interface_04.f90
  integration_tests/run_tests.py
  run_tests.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  tests/reference/llvm-implicit_interface_04-ec2da0d.json
  tests/reference/llvm-implicit_interface_04-ec2da0d.stdout
  tests/tests.toml
Labels: llvm

#1070 Use m_vartype (ArrayInitializer) to get the initializer type.
  integration_tests/CMakeLists.txt
  integration_tests/arrays_20.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-arrays_20-cb6ba8f.json
  tests/reference/asr-arrays_20-cb6ba8f.stdout
  tests/tests.toml
Labels: asr, stf

#1102 Fix some derived type issues
  integration_tests/derived_types_11.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-derived_types_11-8524582.json
  tests/reference/asr-derived_types_11-8524582.stdout
  tests/tests.toml
Labels: asr

#1134 Fix a bug in computing the compile_time value
  integration_tests/intrinsics_28.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/runtime/pure/lfortran_intrinsic_math2.f90
  tests/reference/asr-flip_sign-7d74d97.json
  tests/reference/asr-flip_sign-7d74d97.stdout
  tests/reference/asr-intrinsics_28-7c27d80.json
  tests/reference/asr-intrinsics_28-7c27d80.stdout
  tests/reference/asr-intrinsics_31-dc5e9a8.json
  tests/reference/asr-intrinsics_31-dc5e9a8.stdout
  tests/reference/asr-parameter1-d475bd9.json
  tests/reference/asr-parameter1-d475bd9.stdout
  tests/reference/asr-string_19-5592188.json
  tests/reference/asr-string_19-5592188.stdout
  tests/reference/pass_flip_sign-flip_sign-e0a724a.json
  tests/reference/pass_flip_sign-flip_sign-e0a724a.stdout
Labels: asr

#1132 Add `visit_If` in PassVisitor
  integration_tests/CMakeLists.txt
  integration_tests/print_arr_01.f90
  src/libasr/pass/pass_utils.h
  tests/reference/pass_inline_function_calls-functions_08-b0e0924.json
  tests/reference/pass_inline_function_calls-functions_08-b0e0924.stdout
Labels: asr_pass

#1139 ASR PASS: Fix `print_arr` pass with `SelectCase`
  integration_tests/CMakeLists.txt
  integration_tests/print_arr_02.f90
  src/libasr/pass/pass_utils.h
Labels: asr_pass

#1127 Fix print pass that contain more than one values
  integration_tests/CMakeLists.txt
  integration_tests/print_03.f90
  src/libasr/pass/pass_utils.h
  src/libasr/pass/print_arr.cpp
Labels: asr_pass
