Repository lfortran/lfortran, pull requests merged in 2022-08, with the labels that each got.

#68 Array arguments in procedures with non-empty dimensions
  grammar/asdl_cpp.py
  integration_tests/CMakeLists.txt
  integration_tests/arrays_inputs_15.f90
  src/libasr/CMakeLists.txt
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_array_utils.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/update_array_dim_intrinsic_calls.cpp
  src/libasr/pass/update_array_dim_intrinsic_calls.h
Labels: llvm, arrays

#71 CI: Support integration tests testing for WASM
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  src/bin/lfortran.cpp
Labels: wasm, CI, tests

#72 Testing and fixing array operation expressions
  integration_tests/CMakeLists.txt
  integration_tests/arrays_op_8.f90
  integration_tests/arrays_op_9.f90
  src/libasr/pass/array_op.cpp
Labels: asr, asr_pass, arrays

#99 WASM: Supporting array passing with explicit shapes
  integration_tests/CMakeLists.txt
  integration_tests/arrays_01_multi_dim.f90
  integration_tests/arrays_03_func_pass_arr_dims.f90
  integration_tests/arrays_04_func_pass_arr_dims.f90
  integration_tests/arrays_08_func_pass_arr_dims.f90
  src/libasr/CMakeLists.txt
  src/libasr/asdl_cpp.py
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/pass/arr_dims_propagate.cpp
  src/libasr/pass/arr_dims_propagate.h
Labels: wasm, arrays

#103 WASM: Supporting specifying max no of memory pages
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-doloop_01-4e94eaf.json
  tests/reference/wat-doloop_01-4e94eaf.stdout
  tests/reference/wat-doloop_02-1ee6409.json
  tests/reference/wat-doloop_02-1ee6409.stdout
  tests/reference/wat-doloop_03-e0c63db.json
  tests/reference/wat-doloop_03-e0c63db.stdout
  tests/reference/wat-empty-681c1d1.json
  tests/reference/wat-empty-681c1d1.stdout
  tests/reference/wat-if_04-1d3b97a.json
  tests/reference/wat-if_04-1d3b97a.stdout
  tests/reference/wat-if_05-865c1b8.json
  tests/reference/wat-if_05-865c1b8.stdout
  tests/reference/wat-logical1-ef567ea.json
  tests/reference/wat-logical1-ef567ea.stdout
  tests/reference/wat-logical2-3eb78d2.json
  tests/reference/wat-logical2-3eb78d2.stdout
  tests/reference/wat-logical3-ce72150.json
  tests/reference/wat-logical3-ce72150.stdout
  tests/reference/wat-logical4-64da104.json
  tests/reference/wat-logical4-64da104.stdout
  tests/reference/wat-types_01-c4e1000.json
  tests/reference/wat-types_01-c4e1000.stdout
  tests/reference/wat-types_02-48df0cb.json
  tests/reference/wat-types_02-48df0cb.stdout
  tests/reference/wat-types_03-e07ce23.json
  tests/reference/wat-types_03-e07ce23.stdout
  tests/reference/wat-types_04-054550e.json
  tests/reference/wat-types_04-054550e.stdout
  tests/reference/wat-types_05-884adc8.json
  tests/reference/wat-types_05-884adc8.stdout
  tests/reference/wat-types_15-abe4006.json
  tests/reference/wat-types_15-abe4006.stdout
  tests/reference/wat-wasm1-8a138d6.json
  tests/reference/wat-wasm1-8a138d6.stdout
  tests/reference/wat-wasm_floats-c84c674.json
  tests/reference/wat-wasm_floats-c84c674.stdout
  tests/reference/wat-wasm_i64-3afdb24.json
  tests/reference/wat-wasm_i64-3afdb24.stdout
  tests/reference/wat-wasm_main_program-7a34895.json
  tests/reference/wat-wasm_main_program-7a34895.stdout
  tests/reference/wat-wasm_unary_minus-81a29ff.json
  tests/reference/wat-wasm_unary_minus-81a29ff.stdout
Labels: wasm, wat

#123 WASM: Implement set_exit_code()
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-doloop_01-4e94eaf.json
  tests/reference/wat-doloop_01-4e94eaf.stdout
  tests/reference/wat-doloop_02-1ee6409.json
  tests/reference/wat-doloop_02-1ee6409.stdout
  tests/reference/wat-doloop_03-e0c63db.json
  tests/reference/wat-doloop_03-e0c63db.stdout
  tests/reference/wat-empty-681c1d1.json
  tests/reference/wat-empty-681c1d1.stdout
  tests/reference/wat-if_04-1d3b97a.json
  tests/reference/wat-if_04-1d3b97a.stdout
  tests/reference/wat-if_05-865c1b8.json
  tests/reference/wat-if_05-865c1b8.stdout
  tests/reference/wat-logical1-ef567ea.json
  tests/reference/wat-logical1-ef567ea.stdout
  tests/reference/wat-logical2-3eb78d2.json
  tests/reference/wat-logical2-3eb78d2.stdout
  tests/reference/wat-logical3-ce72150.json
  tests/reference/wat-logical3-ce72150.stdout
  tests/reference/wat-logical4-64da104.json
  tests/reference/wat-logical4-64da104.stdout
  tests/reference/wat-types_01-c4e1000.json
  tests/reference/wat-types_01-c4e1000.stdout
  tests/reference/wat-types_02-48df0cb.json
  tests/reference/wat-types_02-48df0cb.stdout
  tests/reference/wat-types_03-e07ce23.json
  tests/reference/wat-types_03-e07ce23.stdout
  tests/reference/wat-types_04-054550e.json
  tests/reference/wat-types_04-054550e.stdout
  tests/reference/wat-types_05-884adc8.json
  tests/reference/wat-types_05-884adc8.stdout
  tests/reference/wat-types_15-abe4006.json
  tests/reference/wat-types_15-abe4006.stdout
  tests/reference/wat-wasm1-8a138d6.json
  tests/reference/wat-wasm1-8a138d6.stdout
  tests/reference/wat-wasm_floats-c84c674.json
  tests/reference/wat-wasm_floats-c84c674.stdout
  tests/reference/wat-wasm_i64-3afdb24.json
  tests/reference/wat-wasm_i64-3afdb24.stdout
  tests/reference/wat-wasm_main_program-7a34895.json
  tests/reference/wat-wasm_main_program-7a34895.stdout
  tests/reference/wat-wasm_unary_minus-81a29ff.json
  tests/reference/wat-wasm_unary_minus-81a29ff.stdout
Labels: wasm

#118 WASM: Initial implementation of x**2
  integration_tests/CMakeLists.txt
  integration_tests/expr_08.f90
  integration_tests/expr_09.f90
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.h
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stderr
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-expr_09-fa1b124.json
  tests/reference/wat-expr_09-fa1b124.stdout
  tests/tests.toml
Labels: wasm

#126 WASM: Declaring a fixed enough memory
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-doloop_01-4e94eaf.json
  tests/reference/wat-doloop_01-4e94eaf.stdout
  tests/reference/wat-doloop_02-1ee6409.json
  tests/reference/wat-doloop_02-1ee6409.stdout
  tests/reference/wat-doloop_03-e0c63db.json
  tests/reference/wat-doloop_03-e0c63db.stdout
  tests/reference/wat-empty-681c1d1.json
  tests/reference/wat-empty-681c1d1.stdout
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-expr_09-fa1b124.json
  tests/reference/wat-expr_09-fa1b124.stdout
  tests/reference/wat-if_04-1d3b97a.json
  tests/reference/wat-if_04-1d3b97a.stdout
  tests/reference/wat-if_05-865c1b8.json
  tests/reference/wat-if_05-865c1b8.stdout
  tests/reference/wat-logical1-ef567ea.json
  tests/reference/wat-logical1-ef567ea.stdout
  tests/reference/wat-logical2-3eb78d2.json
  tests/reference/wat-logical2-3eb78d2.stdout
  tests/reference/wat-logical3-ce72150.json
  tests/reference/wat-logical3-ce72150.stdout
  tests/reference/wat-logical4-64da104.json
  tests/reference/wat-logical4-64da104.stdout
  tests/reference/wat-types_01-c4e1000.json
  tests/reference/wat-types_01-c4e1000.stdout
  tests/reference/wat-types_02-48df0cb.json
  tests/reference/wat-types_02-48df0cb.stdout
  tests/reference/wat-types_03-e07ce23.json
  tests/reference/wat-types_03-e07ce23.stdout
  tests/reference/wat-types_04-054550e.json
  tests/reference/wat-types_04-054550e.stdout
  tests/reference/wat-types_05-884adc8.json
  tests/reference/wat-types_05-884adc8.stdout
  tests/reference/wat-types_15-abe4006.json
  tests/reference/wat-types_15-abe4006.stdout
  tests/reference/wat-wasm1-8a138d6.json
  tests/reference/wat-wasm1-8a138d6.stdout
  tests/reference/wat-wasm_floats-c84c674.json
  tests/reference/wat-wasm_floats-c84c674.stdout
  tests/reference/wat-wasm_i64-3afdb24.json
  tests/reference/wat-wasm_i64-3afdb24.stdout
  tests/reference/wat-wasm_main_program-7a34895.json
  tests/reference/wat-wasm_main_program-7a34895.stdout
  tests/reference/wat-wasm_unary_minus-81a29ff.json
  tests/reference/wat-wasm_unary_minus-81a29ff.stdout
Labels: wasm

#127 WASM: Use compile-time function value
  integration_tests/expr_08.f90
  src/libasr/codegen/asr_to_wasm.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-types_15-abe4006.json
  tests/reference/wat-types_15-abe4006.stdout
  tests/reference/wat-wasm_floats-c84c674.json
  tests/reference/wat-wasm_floats-c84c674.stdout
Labels: wasm

#153 WASM: Support bind C for array passing to JavaScript
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#157 CI: Building LFortran to WASM
  .github/workflows/CI.yml
  ci/upload_lfortran_wasm.sh
Labels: wasm, CI

#588 WASM: Support WAT for bind(c) functions
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_to_wat.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stderr
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stderr
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stderr
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-types_15-abe4006.stderr
  tests/reference/wat-wasm_bind_c-c463a65.json
  tests/reference/wat-wasm_bind_c-c463a65.stderr
  tests/reference/wat-wasm_bind_c-c463a65.stdout
  tests/reference/wat-wasm_floats-c84c674.stderr
  tests/tests.toml
  tests/wasm_bind_c.f90
Labels: wasm, wat

#158 Simplifying registering passes in ``pass_manager.h``
  src/bin/lfortran.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/arr_slice.h
  src/libasr/pass/array_op.cpp
  src/libasr/pass/array_op.h
  src/libasr/pass/class_constructor.cpp
  src/libasr/pass/class_constructor.h
  src/libasr/pass/dead_code_removal.cpp
  src/libasr/pass/dead_code_removal.h
  src/libasr/pass/div_to_mul.cpp
  src/libasr/pass/div_to_mul.h
  src/libasr/pass/do_loops.cpp
  src/libasr/pass/do_loops.h
  src/libasr/pass/flip_sign.cpp
  src/libasr/pass/flip_sign.h
  src/libasr/pass/fma.cpp
  src/libasr/pass/fma.h
  src/libasr/pass/for_all.cpp
  src/libasr/pass/for_all.h
  src/libasr/pass/global_stmts.cpp
  src/libasr/pass/global_stmts.h
  src/libasr/pass/global_stmts_program.cpp
  src/libasr/pass/global_stmts_program.h
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/implied_do_loops.h
  src/libasr/pass/inline_function_calls.cpp
  src/libasr/pass/inline_function_calls.h
  src/libasr/pass/loop_unroll.cpp
  src/libasr/pass/loop_unroll.h
  src/libasr/pass/loop_vectorise.cpp
  src/libasr/pass/loop_vectorise.h
  src/libasr/pass/param_to_const.cpp
  src/libasr/pass/param_to_const.h
  src/libasr/pass/pass_array_by_data.cpp
  src/libasr/pass/pass_array_by_data.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/print_arr.cpp
  src/libasr/pass/print_arr.h
  src/libasr/pass/select_case.cpp
  src/libasr/pass/select_case.h
  src/libasr/pass/sign_from_value.cpp
  src/libasr/pass/sign_from_value.h
  src/libasr/pass/unused_functions.cpp
  src/libasr/pass/unused_functions.h
  src/libasr/pass/update_array_dim_intrinsic_calls.cpp
  src/libasr/pass/update_array_dim_intrinsic_calls.h
  src/libasr/utils.h
Labels: asr_pass

#619 CI: Fix CI and upload to wasm_builds
  .github/workflows/CI.yml
  ci/upload_lfortran_wasm.sh
  ci/wasm_builds_update_json.py
Labels: wasm, CI

#622 CI: Fix upload to wasm_builds
  ci/upload_lfortran_wasm.sh
Labels: wasm, CI

#632 CI: Fix: Overwrite the latest_commit file
  ci/upload_lfortran_wasm.sh
Labels: wasm, CI

#631 WAT: verify preamble
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
Labels: wat

#634 WAT: wasm_to_wat error handling
  src/lfortran/fortran_evaluator.cpp
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
Labels: wasm, wat

#635 WASM: Support defining functions in any order
  integration_tests/CMakeLists.txt
  integration_tests/types_16.f90
  src/libasr/codegen/asr_to_wasm.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stderr
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stderr
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stderr
  tests/reference/wat-types_16-57fa580.json
  tests/reference/wat-types_16-57fa580.stdout
  tests/reference/wat-wasm1-8a138d6.json
  tests/reference/wat-wasm1-8a138d6.stdout
  tests/reference/wat-wasm_bind_c-c463a65.json
  tests/reference/wat-wasm_bind_c-c463a65.stderr
  tests/reference/wat-wasm_floats-c84c674.json
  tests/reference/wat-wasm_floats-c84c674.stderr
  tests/tests.toml
  tests/wasm1.f90
Labels: wasm

#636 WASM: Enable supporting integration_tests
  integration_tests/CMakeLists.txt
Labels: wasm, tests

#637 WASM, WAT: Improve code formatting
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_wasm.h
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
  src/libasr/codegen/wasm_utils.cpp
  src/libasr/codegen/wasm_utils.h
Labels: wasm, wat

#640 WASM: Support basic string variables
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#641 WASM: Add support for cpu_time
  integration_tests/CMakeLists.txt
  integration_tests/cpu_time_02_wasm.f90
  src/libasr/codegen/wasm_assembler.h
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.json
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.stderr
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.stdout
  tests/tests.toml
Labels: wasm

#642 WASM: Remove function with no body warning
  src/libasr/codegen/asr_to_wasm.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stderr
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stderr
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.json
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.stderr
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stderr
  tests/reference/wat-types_15-abe4006.stderr
  tests/reference/wat-wasm_bind_c-c463a65.json
  tests/reference/wat-wasm_bind_c-c463a65.stderr
Labels: wasm

#643 WASM: Support runtime library
  .gitignore
  build_to_wasm.sh
  ci/upload_lfortran_wasm.sh
  src/bin/CMakeLists.txt
  src/lfortran/utils.cpp
Labels: wasm, rt_lib

#657 WASM: Fix import functions bug
  src/libasr/codegen/asr_to_wasm.cpp
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.json
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.stdout
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-wasm_bind_c-c463a65.json
  tests/reference/wat-wasm_bind_c-c463a65.stdout
Labels: wasm
