Repository lfortran/lfortran, pull requests merged in 2023-04, with the labels that each got.

#1496 CI: Avoid broken nbconvert
  ci/environment.yml
Labels: CI, high priority

#1464 Redesign nested_vars pass
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/nested_vars1.f90
  integration_tests/nested_vars2.f90
  src/libasr/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/nested_vars.cpp
  src/libasr/pass/nested_vars.h
  src/libasr/pass/pass_manager.h
  tests/reference/llvm-nested_03-2eacab7.json
  tests/reference/llvm-nested_03-2eacab7.stdout
  tests/reference/llvm-nested_04-39da8f9.json
  tests/reference/llvm-nested_04-39da8f9.stdout
  tests/reference/llvm-nested_05-0252368.json
  tests/reference/llvm-nested_05-0252368.stdout
  tests/reference/llvm-nested_06-fa1a99f.json
  tests/reference/llvm-nested_06-fa1a99f.stdout
  tests/reference/llvm-program_03-374e848.json
  tests/reference/llvm-program_03-374e848.stdout
  tests/reference/llvm-recursion_01-95eb32d.json
  tests/reference/llvm-recursion_01-95eb32d.stdout
  tests/reference/llvm-recursion_02-76da7b3.json
  tests/reference/llvm-recursion_02-76da7b3.stdout
  tests/reference/llvm-recursion_03-3285725.json
  tests/reference/llvm-recursion_03-3285725.stdout
Labels: asr_pass

#1523 LLVM: Remove nested globals logic
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#1545 WASM: Sync files from LPython
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_decoder.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/wasm_utils.h
  src/libasr/wasm_instructions_visitor.py
Labels: ready for review

#1568 LLVM: Remove unused code
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm
