Repository lfortran/lfortran, pull requests merged in 2023-03, with the labels that each got.

#1326 Register case_07 in CMakeLists
  integration_tests/CMakeLists.txt
  integration_tests/case_07.f90
  run_tests.py
  tests/reference/asr-case_07-aeb5237.json
  tests/reference/asr-case_07-aeb5237.stdout
  tests/reference/pass_select_case-case_07-38385f0.json
  tests/reference/pass_select_case-case_07-38385f0.stdout
  tests/tests.toml
Labels: llvm

#1340 LLVM: Allocate/deallocate strings and fix string slicing
  integration_tests/CMakeLists.txt
  integration_tests/allocate_04.f90
  integration_tests/allocate_05.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-allocate_04-91b8bc0.json
  tests/reference/asr-allocate_04-91b8bc0.stdout
  tests/reference/asr-allocate_05-36f4b17.json
  tests/reference/asr-allocate_05-36f4b17.stdout
  tests/reference/asr-array11-90a0324.json
  tests/reference/asr-array11-90a0324.stdout
  tests/reference/asr-fn6-5b1f799.json
  tests/reference/asr-fn6-5b1f799.stdout
  tests/reference/asr-string_12-041f3da.json
  tests/reference/asr-string_12-041f3da.stdout
  tests/tests.toml
Labels: llvm

#1390 Consider pointer to char - 0 dim as strings
  integration_tests/CMakeLists.txt
  integration_tests/arrays_23.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_llvm.cpp
  tests/reference/asr-arrays_23-b542514.json
  tests/reference/asr-arrays_23-b542514.stdout
  tests/tests.toml
Labels: llvm

#1393 LLVM: Implement associated and null
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#1399 Fix StringSection Assignment
  integration_tests/string_10.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-allocate_04-91b8bc0.json
  tests/reference/asr-allocate_04-91b8bc0.stdout
  tests/reference/asr-allocate_05-36f4b17.json
  tests/reference/asr-allocate_05-36f4b17.stdout
  tests/reference/asr-arrays_23-b542514.json
  tests/reference/asr-arrays_23-b542514.stdout
  tests/reference/asr-fn6-5b1f799.json
  tests/reference/asr-fn6-5b1f799.stdout
  tests/reference/asr-string_10-bf50060.json
  tests/reference/asr-string_10-bf50060.stdout
  tests/reference/asr-string_12-041f3da.json
  tests/reference/asr-string_12-041f3da.stdout
  tests/reference/llvm-string_10-ef0078f.json
  tests/reference/llvm-string_10-ef0078f.stdout
Labels: llvm

#1418 Fix allocatable string assignments
  integration_tests/CMakeLists.txt
  integration_tests/allocate_05.f90
  src/libasr/codegen/asr_to_llvm.cpp
  tests/reference/asr-allocate_05-36f4b17.json
  tests/reference/asr-allocate_05-36f4b17.stdout
Labels: llvm

#1426 LLVM: Implement File I/O nodes
  integration_tests/CMakeLists.txt
  integration_tests/file_01.f90
  integration_tests/file_01_data.txt
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
Labels: llvm

#1434 Add an option to use cumulative ASR pass
  integration_tests/CMakeLists.txt
  integration_tests/expr_13.f90
  run_tests.py
  src/bin/lfortran.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/utils.h
  tests/reference/asr-expr_13-09211b8.json
  tests/reference/asr-expr_13-09211b8.stdout
  tests/reference/pass_flip_sign-expr_13-76c967c.json
  tests/reference/pass_flip_sign-expr_13-76c967c.stdout
  tests/tests.toml
Labels: asr_pass

#1461 Fix char with star dimension and array_op pass
  integration_tests/CMakeLists.txt
  integration_tests/arrays_op_13.f90
  integration_tests/associate_09.f90
  integration_tests/string_20.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/array_op.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  tests/reference/asr-array12-ea199d1.json
  tests/reference/asr-array12-ea199d1.stdout
  tests/reference/asr-modules_15b-5be0f8a.json
  tests/reference/asr-modules_15b-5be0f8a.stdout
Labels: asr, asr_pass
