Repository lfortran/lfortran, pull requests merged in 2023-02, with the labels that each got.

#1277 Implement DefBinop in AST to ASR
  integration_tests/CMakeLists.txt
  integration_tests/derived_types_12.f90
  integration_tests/interface_13.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
Labels: asr

#1298 Bug fixes related to dependency tracking while compiling FPM
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/libasr/asr_verify.cpp
  src/libasr/pass/pass_utils.h
  tests/dependency_test_01.f90
  tests/dependency_test_02.f90
  tests/dependency_test_03.f90
  tests/dependency_test_03_module.f90
  tests/reference/asr-class_01-233a8ad.json
  tests/reference/asr-class_01-233a8ad.stdout
  tests/reference/asr-class_02-4331b31.json
  tests/reference/asr-class_02-4331b31.stdout
  tests/reference/asr-dependency_test_01-80e1f61.json
  tests/reference/asr-dependency_test_01-80e1f61.stdout
  tests/reference/asr-dependency_test_02-5c11912.json
  tests/reference/asr-dependency_test_02-5c11912.stdout
  tests/reference/asr-dependency_test_03-0d48615.json
  tests/reference/asr-dependency_test_03-0d48615.stdout
  tests/reference/asr-derived_types_04-f1d65ad.json
  tests/reference/asr-derived_types_04-f1d65ad.stdout
  tests/reference/asr-derived_types_06-22b43e4.json
  tests/reference/asr-derived_types_06-22b43e4.stdout
  tests/reference/asr-kwargs_02-5f7dccf.json
  tests/reference/asr-kwargs_02-5f7dccf.stdout
  tests/reference/asr-modules2-f9ba4aa.json
  tests/reference/asr-modules2-f9ba4aa.stdout
  tests/reference/asr-modules3-8c02fda.json
  tests/reference/asr-modules3-8c02fda.stdout
  tests/reference/asr-modules4-0279cc8.json
  tests/reference/asr-modules4-0279cc8.stdout
  tests/reference/asr-modules_34-7505d1c.json
  tests/reference/asr-modules_34-7505d1c.stdout
  tests/tests.toml
Labels: stf

#1304 WASM: Support integration_tests/template_array_03.f90
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#1327 LLVM: Enable tests
  integration_tests/CMakeLists.txt
  integration_tests/derived_types_11.f90
  tests/reference/asr-derived_types_11-8524582.json
  tests/reference/asr-derived_types_11-8524582.stdout
Labels: llvm

#1322 LLVM: Implement Command Line intrinsics
  integration_tests/CMakeLists.txt
  integration_tests/cmd_01.f90
  integration_tests/cmd_02.f90
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-cmd_01-c6cc27b.json
  tests/reference/asr-cmd_01-c6cc27b.stdout
  tests/reference/asr-cmd_02-e0d3689.json
  tests/reference/asr-cmd_02-e0d3689.stdout
Labels: llvm

#1341 WASM: Sync backend from LPython
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_decoder.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/x86_assembler.h
  tests/reference/wat-abs_01-0c0b4df.json
  tests/reference/wat-abs_01-0c0b4df.stdout
  tests/reference/wat-abs_03-5d62cca.json
  tests/reference/wat-abs_03-5d62cca.stdout
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.json
  tests/reference/wat-cpu_time_02_wasm-fa2b15f.stdout
  tests/reference/wat-doloop_01-4e94eaf.json
  tests/reference/wat-doloop_01-4e94eaf.stdout
  tests/reference/wat-doloop_02-1ee6409.json
  tests/reference/wat-doloop_02-1ee6409.stdout
  tests/reference/wat-doloop_03-e0c63db.json
  tests/reference/wat-doloop_03-e0c63db.stdout
  tests/reference/wat-empty-681c1d1.json
  tests/reference/wat-empty-681c1d1.stdout
  tests/reference/wat-expr_08-74f99b7.json
  tests/reference/wat-expr_08-74f99b7.stdout
  tests/reference/wat-expr_09-fa1b124.json
  tests/reference/wat-expr_09-fa1b124.stdout
  tests/reference/wat-if_04-1d3b97a.json
  tests/reference/wat-if_04-1d3b97a.stdout
  tests/reference/wat-if_05-865c1b8.json
  tests/reference/wat-if_05-865c1b8.stdout
  tests/reference/wat-logical1-ef567ea.json
  tests/reference/wat-logical1-ef567ea.stdout
  tests/reference/wat-logical2-3eb78d2.json
  tests/reference/wat-logical2-3eb78d2.stdout
  tests/reference/wat-logical3-ce72150.json
  tests/reference/wat-logical3-ce72150.stdout
  tests/reference/wat-logical4-64da104.json
  tests/reference/wat-logical4-64da104.stdout
  tests/reference/wat-types_01-c4e1000.json
  tests/reference/wat-types_01-c4e1000.stdout
  tests/reference/wat-types_02-48df0cb.json
  tests/reference/wat-types_02-48df0cb.stdout
  tests/reference/wat-types_03-e07ce23.json
  tests/reference/wat-types_03-e07ce23.stdout
  tests/reference/wat-types_04-054550e.json
  tests/reference/wat-types_04-054550e.stdout
  tests/reference/wat-types_05-884adc8.json
  tests/reference/wat-types_05-884adc8.stdout
  tests/reference/wat-types_15-abe4006.json
  tests/reference/wat-types_15-abe4006.stdout
  tests/reference/wat-types_16-57fa580.json
  tests/reference/wat-types_16-57fa580.stdout
  tests/reference/wat-wasm1-8a138d6.json
  tests/reference/wat-wasm1-8a138d6.stdout
  tests/reference/wat-wasm_bind_c-c463a65.json
  tests/reference/wat-wasm_bind_c-c463a65.stdout
  tests/reference/wat-wasm_i64-3afdb24.json
  tests/reference/wat-wasm_i64-3afdb24.stdout
  tests/reference/wat-wasm_main_program-7a34895.json
  tests/reference/wat-wasm_main_program-7a34895.stdout
  tests/reference/wat-wasm_unary_minus-81a29ff.json
  tests/reference/wat-wasm_unary_minus-81a29ff.stdout
Labels: wasm

#1354 WASM: Initial support for BlockCall
  integration_tests/CMakeLists.txt
  integration_tests/block_06.f90
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm
