Repository lfortran/lfortran, pull requests merged in 2024-03, with the labels that each got.

#3580 ENH: cleanup ArrayConstant code
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
  src/libasr/asr_verify.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  tests/reference/asr-array3-7b1ab3b.json
  tests/reference/asr-array3-7b1ab3b.stdout
  tests/reference/asr-subroutines_05-1398db3.json
  tests/reference/asr-subroutines_05-1398db3.stdout
  tests/reference/asr-template_sort_01-b412f73.json
  tests/reference/asr-template_sort_01-b412f73.stdout
  tests/reference/asr-template_sort_02-0aa4518.json
  tests/reference/asr-template_sort_02-0aa4518.stdout
  tests/reference/julia-array3-ab6fef3.json
  tests/reference/julia-array3-ab6fef3.stdout
  tests/reference/pass_implied_do_loops-modules_35-c089638.json
  tests/reference/pass_implied_do_loops-modules_35-c089638.stdout
Labels: asr

#3399 Draft documentation for generics
  doc/src/asr/asr_nodes/symbol_nodes/Requirement.md
  doc/src/asr/asr_nodes/symbol_nodes/Template.md
  doc/src/asr/asr_nodes/symbol_nodes/symbol.md
  doc/src/asr/asr_nodes/symbol_nodes/symbol_nodes.md
  doc/src/asr/generics.md
  doc/src/asr/programming_generics.md
Labels: generics

#3617 ENH: support runtime dim for intrinsic `sum`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_179.f90
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/pass_utils.h
Labels: stdlib

#3643 enh: remove cast macro in asr builder
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_utils.cpp
Labels: enhancement, asr pass

#3650 feat: Introduce and implement `IntrinsicImpureSubroutine`
  integration_tests/CMakeLists.txt
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/ASR.asdl
  src/libasr/CMakeLists.txt
  src/libasr/asr_builder.h
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_subroutine.cpp
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pass/intrinsic_subroutines.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  src/libasr/pass/replace_intrinsic_subroutine.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-intrinsics_29-d4080f2.json
  tests/reference/asr-intrinsics_29-d4080f2.stdout
  tests/reference/asr-matmul_01-7b0b0c2.json
  tests/reference/asr-matmul_01-7b0b0c2.stdout
Labels: asr, asr pass, feature, intrinsic

#3655 feat: Implement intrinsic `mvbits`
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/CMakeLists.txt
  src/runtime/impure/CMakeLists.txt
  src/runtime/impure/lfortran_intrinsic_bit.f90
  tests/reference/asr-bits_03-c7d2024.json
  tests/reference/asr-bits_03-c7d2024.stdout
Labels: feature, intrinsic

#3654 Implemented Popcnt function
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_185.f90
  integration_tests/intrinsics_187.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: feature, intrinsic

#3657 removed compare macros from asr builder
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: refactor

#3659 feat: implement `lgt`, `llt`, `lle`,`lge`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_188.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/asr_builder.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/pure/lfortran_intrinsic_string.f90
  tests/reference/asr-derived_types_04-da02dd9.json
  tests/reference/asr-derived_types_04-da02dd9.stdout
  tests/reference/asr-derived_types_06-847ca73.json
  tests/reference/asr-derived_types_06-847ca73.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
Labels: feature, intrinsic

#3660 Implement scan
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_185.f90
  integration_tests/intrinsics_186.f90
  integration_tests/intrinsics_189.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_julia.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/pure/lfortran_intrinsic_string.f90
  tests/reference/asr-allocate_04-68facec.json
  tests/reference/asr-allocate_04-68facec.stdout
  tests/reference/asr-arrays_23-a731033.json
  tests/reference/asr-arrays_23-a731033.stdout
  tests/reference/asr-derived_types_04-da02dd9.json
  tests/reference/asr-derived_types_04-da02dd9.stdout
  tests/reference/asr-derived_types_06-847ca73.json
  tests/reference/asr-derived_types_06-847ca73.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-functions_06-83a7aca.json
  tests/reference/asr-functions_06-83a7aca.stdout
  tests/reference/asr-functions_13-3345127.json
  tests/reference/asr-functions_13-3345127.stdout
  tests/reference/asr-intrinsics_33-816caef.json
  tests/reference/asr-intrinsics_33-816caef.stdout
  tests/reference/asr-intrinsics_39-f721e16.json
  tests/reference/asr-intrinsics_39-f721e16.stdout
  tests/reference/asr-string_11-0e4b62c.json
  tests/reference/asr-string_11-0e4b62c.stdout
Labels: intrinsic

#3603 Compile and run ``test_corr::test_sp`` in ``stdlib/test/stats``
  .github/workflows/CI.yml
  integration_tests/array_02_pack.f90
  integration_tests/intrinsics_65.f90
  src/libasr/asr_utils.h
  src/libasr/asr_verify.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/function_call_in_declaration.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_array_by_data.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  tests/reference/asr-array_02_pack-233bae0.json
  tests/reference/asr-array_02_pack-233bae0.stdout
Labels: stdlib

#3668 Implement intrinsic `index`
  integration_tests/intrinsics_91.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_julia.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/pure/lfortran_intrinsic_string.f90
  tests/reference/asr-derived_types_04-da02dd9.json
  tests/reference/asr-derived_types_04-da02dd9.stdout
  tests/reference/asr-derived_types_06-847ca73.json
  tests/reference/asr-derived_types_06-847ca73.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-string_11-0e4b62c.json
  tests/reference/asr-string_11-0e4b62c.stdout
  tests/reference/llvm-string_11-e6c763f.json
  tests/reference/llvm-string_11-e6c763f.stdout
Labels: needs rebase, feature, intrinsic

#3671 feat: implement intrinsic `Besselj0`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_192.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: feature, intrinsic

#3666 feat: implement `poppar` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_189.f90
  integration_tests/intrinsics_193.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: feature, intrinsic

#3672 enh: Code cleanup for intrinsic functions
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic, refactor

#3718 fix: dim attribute for mask of rank 1 is incorrectly handled in intrinsic count
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_199.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: refactor

#3703 Implement `modulo` and handle `flip_sign` pass
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_139.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_julia.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/flip_sign.cpp
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_manager.h
  src/runtime/CMakeLists.txt
  src/runtime/pure/CMakeLists.txt
  src/runtime/pure/lfortran_intrinsic_math2.f90
  src/runtime/tests/CMakeLists.txt
  tests/reference/asr-expr_13-57b03a6.json
  tests/reference/asr-expr_13-57b03a6.stdout
  tests/reference/asr-flip_sign-a0cebd4.json
  tests/reference/asr-flip_sign-a0cebd4.stdout
  tests/reference/pass_flip_sign-expr_13-e24d940.json
  tests/reference/pass_flip_sign-expr_13-e24d940.stdout
  tests/reference/pass_flip_sign-flip_sign-16b288c.json
  tests/reference/pass_flip_sign-flip_sign-16b288c.stdout
Labels: needs rebase, feature, intrinsic, refactor

#3719 enh: add support for `Merge` and `Count` intrinsic in ASR to Fortran
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_fortran.cpp
Labels: Fortran, intrinsic

#3712 test: strengthen tests for `bessely0` function
  integration_tests/intrinsics_197.f90
Labels: tests, intrinsic

#3717 Remove old runtime code in lfortran_intrinsic_optimization file
  src/runtime/CMakeLists.txt
  src/runtime/builtin/CMakeLists.txt
  src/runtime/builtin/lfortran_intrinsic_optimization.f90
  src/runtime/tests/CMakeLists.txt
Labels: intrinsic, refactor

#3726 fix: replacing cast node on intrinsic array function in array op pass
  integration_tests/CMakeLists.txt
  integration_tests/array_op_06.f90
  src/libasr/pass/array_op.cpp
Labels: asr pass, stdlib

#3727 enh: handling of Cast node while replacing arrray size in update array dim intrinsic call pass
  integration_tests/CMakeLists.txt
  integration_tests/arrays_41.f90
  src/libasr/pass/update_array_dim_intrinsic_calls.cpp
Labels: asr pass, stdlib

#3737 chore: use inbuilt math function for `bessel_xx` instead
  LICENSE
  src/libasr/runtime/lfortran_intrinsics.c
Labels: intrinsic, refactor

#3740 docs: document ASR pass `transform_optional_argument_functions` with example
  src/libasr/pass/transform_optional_argument_functions.cpp
Labels: documentation

#3741 enh: support visiting module in pass array by data
  integration_tests/CMakeLists.txt
  integration_tests/arrays_42.f90
  src/libasr/pass/pass_array_by_data.cpp
  tests/reference/pass_pass_array_by_data-modules_44-cd82150.json
  tests/reference/pass_pass_array_by_data-modules_44-cd82150.stdout
  tests/reference/pass_pass_array_by_data_transform_optional_argument_functions-modules_37-1456cdb.json
  tests/reference/pass_pass_array_by_data_transform_optional_argument_functions-modules_37-1456cdb.stdout
  tests/reference/pass_pass_array_by_data_transform_optional_argument_functions-modules_39-906d6cb.json
  tests/reference/pass_pass_array_by_data_transform_optional_argument_functions-modules_39-906d6cb.stdout
Labels: asr pass, stdlib

#3745 CI: test LLVM compilation of `stdlib_stats_var`
  .github/workflows/CI.yml
Labels: CI, stdlib
