Repository lfortran/lfortran, pull requests merged in 2024-04, with the labels that each got.

#3746 Fix Incorrect handling of compile time compare operation
  integration_tests/CMakeLists.txt
  integration_tests/arrays_43.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: refactor

#3751 chore: handle allocatable types for intrinsic pack
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_200.f90
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function.cpp
  tests/reference/asr-array_01_pack-6c829d9.json
  tests/reference/asr-array_01_pack-6c829d9.stdout
Labels: stdlib, intrinsic

#3757 CI: test LLVM compilation of `stdlib_stats_mean`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3760 CI: test LLVM compilation of `stdlib_stats_cov`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3766 fix: intrinsic sum, any calls existing function with incorrect signature
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_201.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#3762 fix: type mismatch in dim size of array reshape
  integration_tests/CMakeLists.txt
  integration_tests/arrays_reshape_17.f90
  src/libasr/codegen/llvm_array_utils.cpp
Labels: llvm

#3771 ci: test LLVM compilation of `stdlib_stats_median`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3772 ci: test LLVM compilation of `stdlib_stats_moment_all`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3774 ci: test LLVM compilation of `stdlib_stats_moment_mask`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3785 ci: test LLVM compilation of `stdlib_stats_moment_scalar`
  .github/workflows/CI.yml
Labels: CI, stdlib

#3764 feat: implement `bessel_y1` function
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_202.f90
  integration_tests/intrinsics_204.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: feature, intrinsic

#3801 Add tests for deallocation bug, and a workaround
  integration_tests/CMakeLists.txt
  integration_tests/dealloc_01.f90
  integration_tests/dealloc_02.f90
  src/libasr/runtime/lfortran_intrinsics.c
Labels: tests, stdlib

#3800 Doc: improve documentation of the `-o` option
  doc/man/lfortran.md
  doc/src/usage.md
  src/bin/lfortran.cpp
Labels: documentation

#3805 Refactor: Simplify implementation logic for modulo
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic, refactor

#3828 enh: add support for `poppar` intrinsic in `fortran` backend
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_206.f90
  src/libasr/codegen/asr_to_fortran.cpp
Labels: Fortran

#3804 feat: implement acosd intrinsic function
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_205.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: feature, intrinsic

#3846 fix: compile time evaluation for modulo
  integration_tests/intrinsics_139.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#3845 enh: add compile time implementations of math and bessel functions
  integration_tests/intrinsics_203.f90
  integration_tests/intrinsics_204.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#3861 test: add missing compile time tests for math functions
  integration_tests/intrinsics_192.f90
  integration_tests/intrinsics_196.f90
  integration_tests/intrinsics_197.f90
  integration_tests/intrinsics_204.f90
  integration_tests/intrinsics_205.f90
Labels: tests

#3856 feat: implement `atand` intrinsic function
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_209.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: feature, intrinsic

#3870 feat: introduce `expr *shared`, `expr* local` in `DoConcurrent` node
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/ASR.asdl
  src/libasr/asr_verify.cpp
  src/libasr/pass/for_all.cpp
  tests/reference/asr-kokkos_program2-8391215.json
  tests/reference/asr-kokkos_program2-8391215.stdout
  tests/reference/asr-subroutine4-a425266.json
  tests/reference/asr-subroutine4-a425266.stdout
  tests/reference/asr-template_04-f41dd3e.json
  tests/reference/asr-template_04-f41dd3e.stdout
Labels: asr, openmp

#3888 chore: throw error for coarray and atomic intrinsics
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/atomic_01.f90
  tests/errors/coarray_01.f90
  tests/reference/asr-atomic_01-1c877f0.json
  tests/reference/asr-atomic_01-1c877f0.stderr
  tests/reference/asr-coarray_01-5f111e4.json
  tests/reference/asr-coarray_01-5f111e4.stderr
  tests/tests.toml
Labels: intrinsic

#3744 enh: Refactor ASR builder
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
  src/libasr/pass/array_op.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/replace_symbolic.cpp
Labels: enhancement

#3910 feat: add `disable_style` option
  run_tests.py
  src/bin/lfortran.cpp
  src/libasr/diagnostics.cpp
  src/libasr/diagnostics.h
  src/libasr/utils.h
  tests/reference/ast_disable_style-implicit10-24c91ac.json
  tests/reference/ast_disable_style-implicit10-24c91ac.stderr
  tests/reference/ast_disable_style-implicit10-24c91ac.stdout
  tests/tests.toml
Labels: feature

#3920 enh: support real(sp) in cpu_time
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_213.f90
  src/libasr/runtime/lfortran_intrinsics.c
  src/runtime/impure/lfortran_intrinsic_math.f90
  tests/reference/asr-matmul_01-7b0b0c2.json
  tests/reference/asr-matmul_01-7b0b0c2.stdout
Labels: intrinsic

#3927 feat: add `lcompilers_test_module`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_210.f90
  integration_tests/lcompilers_test_module.f90
Labels: tests, feature
