Repository lfortran/lfortran, pull requests merged in 2024-12, with the labels that each got.

#5511 chore: return from replace_ArrayPhysicalCast for scalar constants
  integration_tests/CMakeLists.txt
  integration_tests/arrays_62.f90
  src/libasr/pass/array_op.cpp
Labels: PRIMA

#5154 feat: add support for array type indices in `ArrayItem`
  integration_tests/CMakeLists.txt
  integration_tests/array_indices_array_item.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/array_op.cpp
Labels: feature, PRIMA

#5572 feat: propagate location information of name in `Function`
  grammar/AST.asdl
  src/lfortran/parser/semantics.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/ASR.asdl
  src/libasr/asdl.py
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.h
  src/libasr/asr_utils.h
  tests/collect_occurence2.f90
  tests/reference/rename_symbol-collect_occurence2-a095a33.json
  tests/reference/rename_symbol-collect_occurence2-a095a33.stdout
  tests/tests.toml
Labels: LSP

#5570 feat: support list directed input for `character`, `integer` and `real`
  integration_tests/CMakeLists.txt
  integration_tests/read_01.f90
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
Labels: PRIMA, I/O

#5573 fix: retain symbol name for `ExternalSymbol` during import if `m_external` is `ASR::Function_t`
  integration_tests/CMakeLists.txt
  integration_tests/modules_60.f90
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/reference/asr-modules_60-baa1105.json
  tests/reference/asr-modules_60-baa1105.stdout
  tests/tests.toml
Labels: PRIMA

#5562 fix: failing of continue-compilation flag for `int_01.f90` file
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/errors/continue_compilation_2.f90
  tests/reference/asr-continue_compilation_2-a6145a1.json
  tests/reference/asr-continue_compilation_2-a6145a1.stderr
Labels: error resiliency

#5591 fix: skip adding abstract types to derived type dependencies
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/polymorphic_class_in_derived_type.f90
  tests/reference/asr-polymorphic_class_in_derived_type-15eb7b6.json
  tests/reference/asr-polymorphic_class_in_derived_type-15eb7b6.stdout
  tests/tests.toml
Labels: Fortuno

#5587 fix: Support type declared procedure in `pass_array_by_data`
  integration_tests/CMakeLists.txt
  integration_tests/procedure_07.f90
  src/libasr/pass/pass_array_by_data.cpp
  src/libasr/pass/transform_optional_argument_functions.cpp
Labels: PRIMA

#5602 feat: propagate location information of `Module`, `SubModule` and `Subroutine`
  grammar/AST.asdl
  src/lfortran/parser/semantics.h
  src/libasr/ASR.asdl
  src/libasr/asr_lookup_name.h
  tests/collect_occurence4.f90
  tests/reference/rename_symbol-collect_occurence4-9f1ef3e.json
  tests/reference/rename_symbol-collect_occurence4-9f1ef3e.stdout
  tests/tests.toml
Labels: LSP

#5600 ci: setup prima
  .github/workflows/CI.yml
Labels: PRIMA

#5583 fix: use a temporary buffer with `fgets()` for formatted read
  integration_tests/CMakeLists.txt
  integration_tests/read_02.f90
  integration_tests/read_02_data.txt
  src/libasr/runtime/lfortran_intrinsics.c
Labels: I/O

#5578 fix: resolved failing of continue compilation flag for error files for different kinds
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/continue_compilation_2.f90
  tests/reference/asr-continue_compilation_2-a6145a1.json
  tests/reference/asr-continue_compilation_2-a6145a1.stderr
Labels: error resiliency

#5659 feat: implement idnint intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_329.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  tests/reference/lookup_name-lookup_name2-458b8c9.json
Labels: intrinsic

#5671 fix: handle more than 2 args for amax0 and max1
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_330.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#5666 ci: setup POT3D ci
  .github/workflows/CI.yml
Labels: CI, POT3D

#5675 chore: catch semantic error in use and declaration statements
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/errors/continue_compilation_3.f90
  tests/reference/asr-continue_compilation_3-435a232.json
  tests/reference/asr-continue_compilation_3-435a232.stderr
Labels: error resiliency

#5682 fix: `is_statement_function` to not consider scalar constants arguments
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/continue_compilation_3.f90
  tests/reference/asr-continue_compilation_3-435a232.json
  tests/reference/asr-continue_compilation_3-435a232.stderr
Labels: error resiliency

#5691 [MLIR] Handle and fix Print and FileWrite node
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5686 CI: update branch and commit to use for 'Test POT3D' CI job
  .github/workflows/CI.yml
Labels: CI, POT3D

#5609 feat: [MLIR] Add basic fixed array support
  integration_tests/CMakeLists.txt
  integration_tests/print_arr_07.f90
  src/lfortran/fortran_evaluator.cpp
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5692 Fix: Add `FunctionType` info in transform_optional_argument pass
  integration_tests/CMakeLists.txt
  integration_tests/procedure_09_a.f90
  integration_tests/procedure_09_b.f90
  src/libasr/pass/transform_optional_argument_functions.cpp
Labels: PRIMA

#5722 enh: set_allocation_size for 'spread' intrinsic
  integration_tests/CMakeLists.txt
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5730 CI: Revert "[CI] Fix the command to initialize SHELL for mamba"
  Dockerfile
Labels: CI

#5716 fix: program without line generates ast with continue compilation flag
  run_tests.py
  src/lfortran/parser/parser.cpp
  tests/errors/program_without_line_cc.f90
  tests/reference/asr-program_without_line_cc-78281a4.json
  tests/reference/asr-program_without_line_cc-78281a4.stderr
  tests/reference/asr-program_without_line_cc-78281a4.stdout
  tests/tests.toml
Labels: error resiliency

#5695 enh: Handle BinOp in ArrayItem Reference
  integration_tests/CMakeLists.txt
  integration_tests/arrays_64.f90
  src/libasr/pass/array_op.cpp
  src/libasr/pass/simplifier.cpp
Labels: PRIMA

#5745 build: add support for cached building using `ccache` through a CMake option
  CMakeLists.txt
Labels: build

#5751 CI: Test POT3D with LLVM backend with a few workarounds
  .github/workflows/CI.yml
Labels: CI, POT3D

#5694 enh: support allocatable arrays in array reference
  integration_tests/CMakeLists.txt
  integration_tests/arrays_63.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/array_op.cpp
Labels: PRIMA

#5736 enh: add support for handling `ASR::ClassProcedure_t` for functions with string parameters
  integration_tests/CMakeLists.txt
  integration_tests/class_procedure_args_01.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm, AoC-2024

#5755 feat: add support for `size` argument to `inquire` statement
  integration_tests/CMakeLists.txt
  integration_tests/file_22.f90
  integration_tests/file_22_data.txt
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-rewind_inquire_flush-72b7f97.json
  tests/reference/asr-rewind_inquire_flush-72b7f97.stdout
Labels: I/O, AoC-2024

#5763 CI: test PRIMA on CI
  .github/workflows/CI.yml
Labels: PRIMA

#5767 enh: `--show-errors` to throw multiple errors for LSP to pick
  run_tests.py
  src/bin/lfortran.cpp
  src/libasr/lsp.cpp
  tests/errors/show_errors1.f90
  tests/reference/asr-show_errors1-cc473c3.json
  tests/reference/asr-show_errors1-cc473c3.stdout
  tests/tests.toml
Labels: LSP

#5771 CI: update branch and commit for 'Test POT3D' testing
  .github/workflows/CI.yml
Labels: CI, POT3D

#5778 [MLIR] Add '\0' to StringAttr to fix printing the garbage value
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5782 [MLIR] Support ArrayBound visitor
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5788 [MLIR] Support more visitors
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5789 [MLIR] Support WhileLoop
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5783 fix: `init.f90` file generates ast and asr with cc flag
  src/lfortran/parser/semantics.h
  tests/errors/alloc_attr_disallow.f90
  tests/errors/continue_compilation_2.f90
  tests/errors/ptr_attr_disallow.f90
  tests/reference/asr-continue_compilation_2-a6145a1.json
  tests/reference/asr-continue_compilation_2-a6145a1.stderr
  tests/reference/run-alloc_attr_disallow-ffd3ec5.json
  tests/reference/run-alloc_attr_disallow-ffd3ec5.stderr
  tests/reference/run-ptr_attr_disallow-617b244.json
  tests/reference/run-ptr_attr_disallow-617b244.stderr
  tests/tests.toml
Labels: error resiliency

#5787 rem: setting loc information while deserialzing to zero
  src/libasr/asdl_cpp.py
Labels: LSP

#5796 fix: location information of imported symbols from another Module
  run_tests.py
  src/bin/lfortran.cpp
  src/lfortran/ast_serialization.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/semantics/ast_to_asr.h
  src/lfortran/tests/test_ast.cpp
  src/lfortran/tests/test_llvm.cpp
  src/lfortran/tests/test_serialization.cpp
  src/libasr/asdl_cpp.py
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/libasr/lsp.cpp
  src/libasr/modfile.cpp
  src/libasr/modfile.h
  src/libasr/pass/openmp.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/serialization.cpp
  src/libasr/serialization.h
  tests/document_symbols1.f90
  tests/document_symbols1_module.f90
  tests/reference/asr-document_symbols1-8238851.json
  tests/reference/asr-document_symbols1-8238851.stdout
  tests/tests.toml
Labels: LSP

#5804 fix: incorrect location information of `ExternalSymbol`
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/reference/asr-private2-d3a4771.json
  tests/reference/asr-private2-d3a4771.stderr
  tests/reference/asr_json-modules_10-93cd62d.json
  tests/reference/asr_json-modules_10-93cd62d.stdout
Labels: LSP

#5806 enh: output of `--lookup-name` by appending filename
  src/libasr/lsp.cpp
  tests/reference/lookup_name-function_call1-c233951.json
  tests/reference/lookup_name-function_call1-c233951.stdout
  tests/reference/lookup_name-lookup_name1-9a3abcc.json
  tests/reference/lookup_name-lookup_name1-9a3abcc.stdout
  tests/reference/lookup_name-lookup_name2-458b8c9.json
  tests/reference/lookup_name-lookup_name2-458b8c9.stdout
Labels: LSP

#5803 Fix : use any variable as unit, not just `ASR::Var` + support different kinds integers to be used as unit arg.
  integration_tests/CMakeLists.txt
  integration_tests/file_23.f90
  integration_tests/file_23_data.txt
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/runtime/custom/lfortran_intrinsic_custom.f90
Labels: AoC-2024

#5818 fix: line / column information
  src/libasr/lsp.cpp
  tests/reference/asr-document_symbols1-8238851.json
  tests/reference/asr-document_symbols1-8238851.stdout
  tests/reference/asr-show_errors1-cc473c3.json
  tests/reference/asr-show_errors1-cc473c3.stdout
  tests/reference/lookup_name-function_call1-c233951.json
  tests/reference/lookup_name-function_call1-c233951.stdout
  tests/reference/lookup_name-lookup_name1-9a3abcc.json
  tests/reference/lookup_name-lookup_name1-9a3abcc.stdout
  tests/reference/lookup_name-lookup_name2-458b8c9.json
  tests/reference/lookup_name-lookup_name2-458b8c9.stdout
Labels: LSP

#5819 fix: bad_implicit typing generates ast and asr with cc flag
  src/lfortran/parser/semantics.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/errors/continue_compilation_1.f90
  tests/errors/continue_compilation_2.f90
  tests/reference/asr-continue_compilation_1-04b6d40.json
  tests/reference/asr-continue_compilation_1-04b6d40.stderr
  tests/reference/asr-continue_compilation_2-a6145a1.json
  tests/reference/asr-continue_compilation_2-a6145a1.stderr
Labels: error resiliency

#5828 [MLIR] Add support for Function, SubroutineCall and FunctionCall
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5835 [MLIR] Visit Modules in the TranslationUnit scope
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5837 fix : don't use allocatable return in `move_alloc` intrinsic.
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_334.f90
  src/libasr/pass/intrinsic_functions.h
Labels: AoC-2024

#5842 [MLIR] Add support for more nodes
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5832 fix: missing location information of variables
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.h
  tests/lookup_name3.f90
  tests/reference/lookup_name-lookup_name3-a06a374.json
  tests/reference/lookup_name-lookup_name3-a06a374.stdout
  tests/tests.toml
Labels: LSP

#5847 enh: use delta between input and output pos to determine node
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/tests/test_ast.cpp
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.h
  src/libasr/lsp.cpp
  tests/lookup_name4.f90
  tests/reference/lookup_name-function_call1-c233951.json
  tests/reference/lookup_name-function_call1-c233951.stdout
  tests/reference/lookup_name-lookup_name1-9a3abcc.json
  tests/reference/lookup_name-lookup_name1-9a3abcc.stdout
  tests/reference/lookup_name-lookup_name2-458b8c9.json
  tests/reference/lookup_name-lookup_name2-458b8c9.stdout
  tests/reference/lookup_name-lookup_name3-a06a374.json
  tests/reference/lookup_name-lookup_name3-a06a374.stdout
  tests/reference/lookup_name-lookup_name4-76fda17.json
  tests/reference/lookup_name-lookup_name4-76fda17.stdout
  tests/tests.toml
Labels: LSP

#5853 feat: implement `intput_to_output_pos` in `LocationManager`
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/tests/test_ast.cpp
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.h
  src/libasr/location.h
  src/libasr/lsp.cpp
Labels: enhancement

#5855 [MLIR] Handle PointerToDataArray array as arg to a FunctionCall
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5862 [MLIR][OpenMP] Replace DoConcurrentLoop with Parallel construct
  .github/workflows/CI.yml
  CMakeLists.txt
  integration_tests/CMakeLists.txt
  integration_tests/run_tests.py
  src/libasr/codegen/asr_to_mlir.cpp
  src/libasr/pass/do_loops.cpp
Labels: openmp, mlir

#5864 [MLIR] Support building with MLIR 19
  .github/workflows/CI.yml
  CMakeLists.txt
  src/libasr/codegen/asr_to_mlir.cpp
  src/libasr/codegen/evaluator.cpp
Labels: mlir
