Repository lfortran/lfortran, pull requests merged in 2024-05, with the labels that each got.

#3864 Initial OpenMP Pragma support
  grammar/AST.asdl
  src/lfortran/parser/parser.cpp
  src/lfortran/parser/parser.yy
  src/lfortran/parser/semantics.h
  src/lfortran/parser/tokenizer.re
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/string_utils.cpp
  src/libasr/string_utils.h
  tests/pragma1.f90
  tests/reference/ast-pragma1-6b56efa.json
  tests/reference/ast-pragma1-6b56efa.stdout
  tests/tests.toml
Labels: parser, openmp

#3949 feat: support Intrinsic functions in Fortran backend
  integration_tests/CMakeLists.txt
  integration_tests/cos_01.f90
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_fortran.cpp
  tests/reference/asr-array3-7b1ab3b.json
  tests/reference/asr-array3-7b1ab3b.stdout
  tests/reference/asr-array_02_transfer-1bcc806.json
  tests/reference/asr-array_02_transfer-1bcc806.stdout
  tests/reference/asr-arrays_05-e6d3b50.json
  tests/reference/asr-arrays_05-e6d3b50.stdout
  tests/reference/asr-arrays_op_1-f8b9cb0.json
  tests/reference/asr-arrays_op_1-f8b9cb0.stdout
  tests/reference/asr-arrays_op_10-19bd9d9.json
  tests/reference/asr-arrays_op_10-19bd9d9.stdout
  tests/reference/asr-associate_05-4641244.json
  tests/reference/asr-associate_05-4641244.stdout
  tests/reference/asr-intrinsics_08-9988b1f.json
  tests/reference/asr-intrinsics_08-9988b1f.stdout
  tests/reference/asr-intrinsics_37-8df004d.json
  tests/reference/asr-intrinsics_37-8df004d.stdout
  tests/reference/asr-matrix_01_transpose-fb3276a.json
  tests/reference/asr-matrix_01_transpose-fb3276a.stdout
  tests/reference/asr-pragma2-604d549.json
  tests/reference/asr-pragma2-604d549.stdout
  tests/reference/asr-subroutines_05-1398db3.json
  tests/reference/asr-subroutines_05-1398db3.stdout
  tests/reference/asr-template_03-6afb845.json
  tests/reference/asr-template_03-6afb845.stdout
  tests/reference/asr-template_03b-0778e50.json
  tests/reference/asr-template_03b-0778e50.stdout
  tests/reference/asr-template_sort_01-b412f73.json
  tests/reference/asr-template_sort_01-b412f73.stdout
  tests/reference/asr-template_sort_02-0aa4518.json
  tests/reference/asr-template_sort_02-0aa4518.stdout
  tests/reference/asr-where_02-95cf592.json
  tests/reference/asr-where_02-95cf592.stdout
  tests/reference/asr-where_03-a34eed8.json
  tests/reference/asr-where_03-a34eed8.stdout
  tests/reference/asr-where_04-a7fce45.json
  tests/reference/asr-where_04-a7fce45.stdout
  tests/reference/asr_ignore_pragma-pragma2-ba96e35.json
  tests/reference/asr_ignore_pragma-pragma2-ba96e35.stdout
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.json
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.stdout
  tests/reference/fortran-real_to_complex_cast_in_comparison-655651c.json
  tests/reference/fortran-real_to_complex_cast_in_comparison-655651c.stdout
  tests/reference/fortran-real_to_integer_cast_fortran_codegen-d0b1495.json
  tests/reference/fortran-real_to_integer_cast_fortran_codegen-d0b1495.stdout
  tests/reference/fortran-real_to_real_cast_fortran_codegen-b969b0f.json
  tests/reference/fortran-real_to_real_cast_fortran_codegen-b969b0f.stdout
  tests/reference/julia-array3-ab6fef3.json
  tests/reference/julia-array3-ab6fef3.stdout
  tests/reference/julia-arrays_05-f639a33.json
  tests/reference/julia-arrays_05-f639a33.stdout
  tests/reference/pass_array_op-arrays_op_10-be689f7.json
  tests/reference/pass_array_op-arrays_op_10-be689f7.stdout
  tests/reference/pass_where-where_03-00685f9.json
  tests/reference/pass_where-where_03-00685f9.stdout
  tests/reference/pass_where-where_04-2ee4397.json
  tests/reference/pass_where-where_04-2ee4397.stdout
Labels: Fortran

#3926 refactor: array intrinsic `all`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_217.f90
  integration_tests/intrinsics_47.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/asr-intrinsics_47-bdbe527.json
  tests/reference/asr-intrinsics_47-bdbe527.stdout
Labels: intrinsic, refactor

#3962 enh: support assigning array dimension via module variables
  integration_tests/CMakeLists.txt
  integration_tests/arrays_45.f90
  integration_tests/arrays_46.f90
  integration_tests/arrays_47.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
Labels: snap

#3969 Enh: Modularize the code for intrinsic `any` and `all`
  src/libasr/pass/intrinsic_array_function_registry.h
  tests/reference/asr-intrinsics_35-10733ec.json
  tests/reference/asr-intrinsics_35-10733ec.stdout
  tests/reference/asr-intrinsics_47-bdbe527.json
  tests/reference/asr-intrinsics_47-bdbe527.stdout
  tests/reference/llvm-modules_36-53c9a79.json
  tests/reference/llvm-modules_36-53c9a79.stdout
Labels: enhancement, intrinsic

#3978 Fix: handle initialisation of Intrinsic elemental functions to compile time constant
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_219.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#3988 Add support for compile time evaluation of sum intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_221.f90
  integration_tests/parameter_08.f90
  integration_tests/parameter_09.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#3996 Improve code for `eval_sum` and implement `eval_product`
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#3955 feat: implement `dreal` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_218.f90
  integration_tests/intrinsics_221.f90
  integration_tests/intrinsics_222.f90
  src/libasr/asr_builder.h
  src/libasr/asr_utils.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  tests/errors/dreal_arg_error.f90
  tests/reference/asr-dreal_arg_error-91381bb.json
  tests/reference/asr-dreal_arg_error-91381bb.stderr
  tests/tests.toml
Labels: intrinsic

#4010 feat: Implement `eval_maxval` and `eval_minval`
  integration_tests/intrinsics_98.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4012 Implement `eval_count`
  integration_tests/intrinsics_172.f90
  integration_tests/intrinsics_219.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4020 Implement array intrinsic `iany` and `iall`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_225.f90
  integration_tests/intrinsics_226.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4027 Refactor: Change `if-else` to `switch` case
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_wasm.cpp
Labels: refactor

#4026 Refactor: Move `merge` from 'intrinsic_array_functions' to 'intrinsic_elemental_function'
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  tests/reference/asr-intrinsics_32-86443d8.json
  tests/reference/asr-intrinsics_32-86443d8.stdout
  tests/reference/asr-intrinsics_37-8df004d.json
  tests/reference/asr-intrinsics_37-8df004d.stdout
Labels: intrinsic

#4018 Implement intrinsic `nearest`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_223.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4016 Implement intrinsic `spacing`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_224.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4029 docs: add information about 'backend' flag
  doc/src/usage.md
Labels: documentation

#4028 enh: add support for `c_funptr` and `c_funloc`
  integration_tests/CMakeLists.txt
  integration_tests/bindc_03.f90
  integration_tests/bindc_03c.c
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
  src/runtime/pure/lfortran_intrinsic_iso_c_binding.f90
  tests/reference/asr-array12-cb81afc.json
  tests/reference/asr-array12-cb81afc.stdout
  tests/reference/asr-c_ptr_02-fce1b0e.json
  tests/reference/asr-c_ptr_02-fce1b0e.stdout
  tests/reference/asr-modules_15b-09f8335.json
  tests/reference/asr-modules_15b-09f8335.stdout
  tests/reference/asr-string1-f6332d9.json
  tests/reference/asr-string1-f6332d9.stdout
  tests/reference/asr-string2-3425046.json
  tests/reference/asr-string2-3425046.stdout
Labels: openmp

#4035 Implement array intrinsic `norm2`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_227.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
Labels: intrinsic

#4036 Register array intrinsics in fortran backend
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_35.f90
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_fortran.cpp
  tests/reference/asr-intrinsics_35-10733ec.json
  tests/reference/asr-intrinsics_35-10733ec.stdout
  tests/reference/asr-intrinsics_47-bdbe527.json
  tests/reference/asr-intrinsics_47-bdbe527.stdout
Labels: intrinsic

#4054 Register intrinsic elemental functions in fortran backend
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_fortran.cpp
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.json
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.stdout
Labels: Fortran, intrinsic

#4074 Rectify implementation logic for `unpack` intrinsic
  integration_tests/intrinsics_149.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4073 fix: support compile time reduction of kind argument
  integration_tests/intrinsics_151.f90
  src/libasr/intrinsic_func_registry_util_gen.py
Labels: intrinsic

#4083 Deregister features from fortran backend which are not in use yet (for which no tests exist)
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_230.f90
  src/libasr/codegen/asr_to_fortran.cpp
Labels: Fortran, intrinsic

#4089 Remove `lfortran_intrinsic_sin` file from runtime library
  src/runtime/CMakeLists.txt
  src/runtime/impure/CMakeLists.txt
  src/runtime/impure/lfortran_intrinsic_sin.f90
  src/runtime/tests/CMakeLists.txt
Labels: intrinsic

#4095 Implement `parity` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_234.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
Labels: intrinsic

#4034 Handle `IntegerBinOp_t` when setting array dimension through a module variable
  integration_tests/CMakeLists.txt
  integration_tests/integer_bin_op_dim_external_module.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
Labels: SNAP

#4102 fix return_type of bit_size intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_236.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_functions.h
  tests/reference/asr-bits_02-e48c6d3.json
  tests/reference/asr-bits_02-e48c6d3.stdout
Labels: intrinsic

#4094 Implement `iparity` intrinsic function
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_232.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4111 feat: add support for global allocatable array
  integration_tests/CMakeLists.txt
  integration_tests/global_allocatable_01.f90
  integration_tests/global_allocatable_02.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: arrays, SNAP

#4117 test: compile time example
  integration_tests/CMakeLists.txt
  integration_tests/parameter_13.f90
Labels: tests

#4118 fix: population of optional args in intrinsics while compile time evalution of implied do loops
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_238.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#4119 Implement `erfc_scaled` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_239.f90
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic
