Repository lfortran/lfortran, pull requests merged in 2024-06, with the labels that each got.

#4121 feat: add support for global `COMPLEX` variables
  integration_tests/CMakeLists.txt
  integration_tests/modules_57.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: feature

#4124 refactor: use `get_array_intrinsic_name()` to generalize `visit_IntrinsicArrayFunction()`
  src/libasr/codegen/asr_to_fortran.cpp
Labels: refactor

#4021 Use `fgets()` for reading from `stdin` and a temporay buffer to read from file
  src/libasr/runtime/lfortran_intrinsics.c
Labels: enhancement

#4134 refactor: generalise fortran backend for all intrinsic functions
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_function_registry.h
Labels: Fortran

#4135 fix: improve `Var_t` expression equality check
  integration_tests/CMakeLists.txt
  integration_tests/interface_16.f90
  integration_tests/interface_17.f90
  src/libasr/asr_utils.h
Labels: SNAP

#4148 Implement ieee arithmetic functions
  integration_tests/CMakeLists.txt
  integration_tests/test_ieee_arithmetic.f90
  src/lfortran/semantics/comptime_eval.h
  src/runtime/pure/lfortran_intrinsic_ieee_arithmetic.f90
Labels: rt_lib

#4157 feat: support reduction clause in omp pragma
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/openmp1.f90
  tests/reference/asr_openmp-openmp1-3056a3e.json
  tests/reference/asr_openmp-openmp1-3056a3e.stdout
  tests/tests.toml
Labels: openmp

#4146 fix: add support for initializing global `array` variables
  integration_tests/CMakeLists.txt
  integration_tests/global_array_01.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: arrays

#4143 test: add bind(c) test for openmp example
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/openmp_bindc_01.f90
  integration_tests/openmp_bindc_02.f90
  integration_tests/run_tests.py
  src/bin/lfortran.cpp
  src/libasr/utils.h
Labels: openmp

#4164 Bypass verification on expr_type
  integration_tests/CMakeLists.txt
  integration_tests/modules_58.f90
  integration_tests/modules_58_module.f90
  src/libasr/asr_verify.cpp
Labels: SNAP

#4163 feat: first step of `openmp` pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_01.f90
  src/bin/lfortran.cpp
  src/libasr/CMakeLists.txt
  src/libasr/gen_pass.py
  src/libasr/pass/openmp.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/pass/replace_openmp.h
  src/libasr/utils.h
Labels: asr pass, openmp

#4140 feat: add support for `omp_lib`
  integration_tests/CMakeLists.txt
  integration_tests/openmp_02.f90
  src/runtime/CMakeLists.txt
  src/runtime/openmp/CMakeLists.txt
  src/runtime/openmp/omp_lib.f90
Labels: openmp

#4176 Implement `cshift` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_244.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4166 fix: parsing of shared variable in openmp pragma
  integration_tests/CMakeLists.txt
  integration_tests/openmp_03.f90
  src/lfortran/parser/semantics.h
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/string_utils.cpp
  src/libasr/string_utils.h
Labels: openmp

#4100 test: add integration test for `lfortran_intrinsic_sin` module
  integration_tests/CMakeLists.txt
  integration_tests/lfortran_intrinsic_sin.f90
  integration_tests/lfortran_intrinsic_sin_c.c
  src/lfortran/semantics/comptime_eval.h
Labels: intrinsic

#4084 Throw error when an argument of incorrect `BIT_SIZE` is passed to `maskl` and `maskr`
  src/libasr/pass/intrinsic_functions.h
  tests/errors/maskl_incorrect_bit_size.f90
  tests/errors/maskl_negative.f90
  tests/errors/maskr_incorrect_bit_size.f90
  tests/errors/maskr_negative.f90
  tests/reference/asr-maskl_incorrect_bit_size-62a84b0.json
  tests/reference/asr-maskl_incorrect_bit_size-62a84b0.stderr
  tests/reference/asr-maskl_negative-c92502f.json
  tests/reference/asr-maskl_negative-c92502f.stderr
  tests/reference/asr-maskr_incorrect_bit_size-0d2cb26.json
  tests/reference/asr-maskr_incorrect_bit_size-0d2cb26.stderr
  tests/reference/asr-maskr_negative-89183d3.json
  tests/reference/asr-maskr_negative-89183d3.stderr
  tests/tests.toml
Labels: intrinsic, error not reported

#4196 enh: support `visit_Program`
  integration_tests/CMakeLists.txt
  integration_tests/openmp_05.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4198 ci: update hash to workaround achar(0)
  .github/workflows/CI.yml
Labels: CI, stdlib

#4197 feat: Support `Reduction` in `DoConcurrentLoop`
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/ASR.asdl
  src/libasr/pass/for_all.cpp
  tests/reference/asr-kokkos_program2-8391215.json
  tests/reference/asr-kokkos_program2-8391215.stdout
  tests/reference/asr-subroutine4-a425266.json
  tests/reference/asr-subroutine4-a425266.stdout
  tests/reference/asr-template_04-f41dd3e.json
  tests/reference/asr-template_04-f41dd3e.stdout
  tests/reference/asr_openmp-openmp1-3056a3e.json
  tests/reference/asr_openmp-openmp1-3056a3e.stdout
  tests/reference/asr_openmp-pragma1-25cfcb2.json
  tests/reference/asr_openmp-pragma1-25cfcb2.stdout
Labels: openmp

#4061 Support array type return_type for elemental intrinsics
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_230.f90
  integration_tests/intrinsics_237.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_functions.h
  tests/reference/asr-intrinsics_46-0ef4d7a.json
  tests/reference/asr-intrinsics_46-0ef4d7a.stdout
Labels: intrinsic

#3635 feat: Implement `achar` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_46.f90
  integration_tests/string_16.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-cmd_02-ba58262.json
  tests/reference/asr-cmd_02-ba58262.stdout
  tests/reference/asr-derived_type1-c109ce6.json
  tests/reference/asr-derived_type1-c109ce6.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-intrinsics_46-0ef4d7a.json
  tests/reference/asr-intrinsics_46-0ef4d7a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
  tests/reference/asr-template_04-f41dd3e.json
  tests/reference/asr-template_04-f41dd3e.stdout
  tests/reference/asr-template_matrix_01-65b17ae.json
  tests/reference/asr-template_matrix_01-65b17ae.stdout
Labels: intrinsic, refactor

#4191 fix: erase symbol from old symbol table when importing from a new module
  integration_tests/CMakeLists.txt
  integration_tests/use_01.f90
  src/lfortran/semantics/ast_symboltable_visitor.cpp
Labels: SNAP

#4219 enh: support reduction clause in openmp pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_06.f90
  integration_tests/openmp_07.f90
  src/libasr/asr_builder.h
  src/libasr/pass/openmp.cpp
Labels: openmp

#4203 fix: check if a `Var_t` expression is a `Variable_t` before down casting
  integration_tests/CMakeLists.txt
  integration_tests/implied_do_loops5.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: SNAP

#4227 enh: update integration test for verify intrinsic
  integration_tests/intrinsics_185.f90
  integration_tests/intrinsics_186.f90
Labels: intrinsic

#4228 Update test for `scan` intrinsic and handle kind = 8 for `verify` and `scan` intrinsic
  integration_tests/intrinsics_185.f90
  integration_tests/intrinsics_189.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4229 Enh: Update integration test for `index` intrinsic
  integration_tests/intrinsics_91.f90
Labels: intrinsic

#4231 test: add array tests for adjustl and adjustr
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_246.f90
  integration_tests/intrinsics_247.f90
Labels: tests, intrinsic

#4224 fix: incorrect variable abi type
  integration_tests/CMakeLists.txt
  integration_tests/bindc_04.f90
  integration_tests/bindc_04c.c
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-array12-cb81afc.json
  tests/reference/asr-array12-cb81afc.stdout
  tests/reference/asr-string1-f6332d9.json
  tests/reference/asr-string1-f6332d9.stdout
  tests/reference/asr-string2-3425046.json
  tests/reference/asr-string2-3425046.stdout
Labels: openmp

#4241 Fix: add type check for `ArrayPhysicalCast` before downcasting
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_249.f90
  integration_tests/intrinsics_250.f90
  src/libasr/pass/pass_utils.h
Labels: intrinsic

#4246 chore: hack to load `cptr` in `visit_CPtrToPointer` if it is `StructInstanceMember`
  integration_tests/CMakeLists.txt
  integration_tests/bindc_04.f90
  integration_tests/bindc_04c.c
  integration_tests/openmp_bindc_03.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: openmp

#4253 Update integration tests for adjustl and adjustr
  integration_tests/intrinsics_246.f90
  integration_tests/intrinsics_247.f90
Labels: intrinsic

#4256 enh: support array initialisation in openmp pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_12.f90
  integration_tests/openmp_13.f90
  src/libasr/asr_builder.h
  src/libasr/pass/openmp.cpp
Labels: openmp

#4260 enh: support array parallel sum example
  integration_tests/CMakeLists.txt
  integration_tests/openmp_14.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4265 fix: array handling for `derf` and add test for `erf` and `derf`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_251.f90
  integration_tests/intrinsics_252.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#4267 Add integration test for `erfc` and `derfc`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_253.f90
  integration_tests/intrinsics_254.f90
Labels: intrinsic

#4273 feat: add support for element-wise operations on logical arrays using the `WHERE` statement
  integration_tests/CMakeLists.txt
  integration_tests/where_07.f90
  src/libasr/pass/where.cpp
Labels: SNAP

#4275 enh: support multiple openmp calls
  integration_tests/CMakeLists.txt
  integration_tests/openmp_15.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4285 test: update integration test for blt, ble and bge
  integration_tests/intrinsics_156.f90
  integration_tests/intrinsics_157.f90
  integration_tests/intrinsics_158.f90
Labels: intrinsic

#4284 enh: support optional arg `mask` in `sum` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_260.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4291 test: Update integration test for lgt, llt, lge, lle
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_259.f90
Labels: intrinsic

#4297 enh: support multidimensional and empty dimension array in openmp pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_16.f90
  integration_tests/openmp_17.f90
  integration_tests/openmp_bindc_04.f90
  src/libasr/asr_builder.h
  src/libasr/pass/openmp.cpp
  src/runtime/openmp/omp_lib.f90
Labels: openmp

#4307 remove unrequired code from name2signature map
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#4311 Throw error for neg `pos` and add test for `ibclr` intrinsic
  integration_tests/intrinsics_168.f90
  src/libasr/pass/intrinsic_functions.h
  tests/errors/intrinsics_03.f90
  tests/reference/asr-intrinsics_03-f6b3e89.json
  tests/reference/asr-intrinsics_03-f6b3e89.stderr
  tests/tests.toml
Labels: intrinsic

#4283 feat: add support for compile-time evaluation of logical arrays in `LogicalBinOp_t`
  integration_tests/CMakeLists.txt
  integration_tests/logical_arrays_logical_binop_01.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/incompatible_dimension_logical_arrays_logical_binop_01.f90
  tests/errors/incompatible_dimension_logical_arrays_logical_binop_02.f90
  tests/reference/asr-incompatible_dimension_logical_arrays_logical_binop_01-4cfbf39.json
  tests/reference/asr-incompatible_dimension_logical_arrays_logical_binop_01-4cfbf39.stderr
  tests/reference/asr-incompatible_dimension_logical_arrays_logical_binop_02-5be1708.json
  tests/reference/asr-incompatible_dimension_logical_arrays_logical_binop_02-5be1708.stderr
  tests/tests.toml
Labels: feature

#4313 test: computation of pi with openmp
  integration_tests/CMakeLists.txt
  integration_tests/openmp_18.f90
  src/runtime/openmp/omp_lib.f90
Labels: openmp

#4325 Support kind mismatch in `ibclr`, `btest` and `ibset` and add tests
  integration_tests/intrinsics_166.f90
  integration_tests/intrinsics_167.f90
  integration_tests/intrinsics_168.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4302 enh: support `mask` arg in `sum` intrinsic - 2
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4326 enh: support allocatable and pointer arrays in openmp pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_19.f90
  integration_tests/openmp_20.f90
  integration_tests/openmp_21.f90
  integration_tests/openmp_22.f90
  integration_tests/openmp_23.f90
  integration_tests/openmp_24.f90
  integration_tests/openmp_25.f90
  integration_tests/openmp_26.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4331 enh: add ArrayPhysicalCastVisitor to replace it in function and subroutine call
  integration_tests/CMakeLists.txt
  integration_tests/openmp_27.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4329 ci: uncomment `abs(X-mean)**2` as is working now
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_258.f90
Labels: CI

#4340 enh: support mask for compile time evaluation of `iparity`, `minval` and `maxval`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_232.f90
  integration_tests/intrinsics_256.f90
  integration_tests/intrinsics_257.f90
  integration_tests/intrinsics_260.f90
  integration_tests/intrinsics_263.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic

#4320 fix: handle lone `logical` array in `WHERE` clause
  integration_tests/CMakeLists.txt
  integration_tests/where_08.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/errors/incorrect_array_type_where_01.f90
  tests/errors/incorrect_array_type_where_02.f90
  tests/errors/incorrect_type_where_01.f90
  tests/errors/incorrect_type_where_02.f90
  tests/errors/incorrect_type_where_03.f90
  tests/errors/incorrect_type_where_04.f90
  tests/reference/asr-incorrect_array_type_where_01-b613ee3.json
  tests/reference/asr-incorrect_array_type_where_01-b613ee3.stderr
  tests/reference/asr-incorrect_array_type_where_02-b821d8c.json
  tests/reference/asr-incorrect_array_type_where_02-b821d8c.stderr
  tests/reference/asr-incorrect_type_where_01-8974c02.json
  tests/reference/asr-incorrect_type_where_01-8974c02.stderr
  tests/reference/asr-incorrect_type_where_02-1746f84.json
  tests/reference/asr-incorrect_type_where_02-1746f84.stderr
  tests/reference/asr-incorrect_type_where_03-a95b1f2.json
  tests/reference/asr-incorrect_type_where_03-a95b1f2.stderr
  tests/reference/asr-incorrect_type_where_04-f7dffdb.json
  tests/reference/asr-incorrect_type_where_04-f7dffdb.stderr
  tests/tests.toml
Labels: SNAP

#4343 enh: frontend and openmp pass to support nested do loops and user defined functions in body
  integration_tests/CMakeLists.txt
  integration_tests/openmp_28.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/pass/openmp.cpp
Labels: openmp

#4349 Add integration test for `sin`, `cos`, `tan`, `dsin`, `dcos`, `dtan`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_04.f90
  integration_tests/intrinsics_264.f90
  integration_tests/intrinsics_265.f90
  integration_tests/intrinsics_266.f90
  integration_tests/intrinsics_267.f90
  tests/reference/asr-intrinsics_04-524ec3a.json
  tests/reference/asr-intrinsics_04-524ec3a.stdout
Labels: intrinsic

#4347 Fix : Set array type to duplicate with empty dimensions in Maxminloc
  integration_tests/CMakeLists.txt
  integration_tests/arrays_49.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: asr pass, SNAP

#4360 chore: duplicate expr before using in `where` pass to avoid automatic updation via reference
  integration_tests/CMakeLists.txt
  integration_tests/where_09.f90
  src/libasr/pass/where.cpp
Labels: SNAP

#4365 Update integration test for `trailz` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_270.f90
  integration_tests/intrinsics_271.f90
  integration_tests/intrinsics_272.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4355 fix: handle `allocatable` logical array inside `WHERE` clause
  integration_tests/where_08.f90
  src/lfortran/semantics/ast_body_visitor.cpp
Labels: SNAP

#4345 enh: support reduction operators MAX and MIN in openmp pass
  integration_tests/CMakeLists.txt
  integration_tests/openmp_29.f90
  src/libasr/containers.h
  src/libasr/pass/openmp.cpp
Labels: openmp

#4377 enh: openmp to compile matrix multiplication example.
  integration_tests/CMakeLists.txt
  integration_tests/openmp_30.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4378 Fix: support array type arg in inquiry functions and update tests for `precision` and `epsilon`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_138.f90
  integration_tests/intrinsics_274.f90
  integration_tests/intrinsics_93.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: intrinsic

#4381 test: add test for `or`, `and` and `xor`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_275.f90
  integration_tests/intrinsics_276.f90
  integration_tests/intrinsics_277.f90
Labels: intrinsic

#4385 Add tests for `tiny`, `huge`, `selected_real_kind`, `selected_int_kind`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_137.f90
  integration_tests/intrinsics_140.f90
  integration_tests/intrinsics_152.f90
  integration_tests/intrinsics_181.f90
  integration_tests/intrinsics_278.f90
Labels: intrinsic

#4390 erf: Maxexponent/minexponent to inquiry func and add tests
  integration_tests/intrinsics_170.f90
  integration_tests/intrinsics_84.f90
  integration_tests/intrinsics_85.f90
  integration_tests/intrinsics_93.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4392 feat: add support for handling `ArraySection_t` inside `WHERE` clause
  integration_tests/CMakeLists.txt
  integration_tests/where_10.f90
  src/libasr/pass/where.cpp
Labels: asr pass, feature, SNAP

#4394 Add tests for sinh, cosh and tanh intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_279.f90
  integration_tests/intrinsics_280.f90
  integration_tests/intrinsics_281.f90
Labels: intrinsic

#4395 Add compile time and runtime tests for scalar for sind, cosd and tand intrinsic
  integration_tests/intrinsics_214.f90
  integration_tests/intrinsics_215.f90
  integration_tests/intrinsics_216.f90
Labels: intrinsic

#4401 fix: minor bug when creation of module lead to asr verify failure in openmp
  integration_tests/CMakeLists.txt
  integration_tests/openmp_31.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4396 Update tests for shiftl, lshift and rshift intrinsic
  integration_tests/intrinsics_108.f90
  integration_tests/intrinsics_123.f90
  integration_tests/intrinsics_124.f90
  integration_tests/intrinsics_136.f90
Labels: intrinsic

#4412 enh: frontend to handle variants of `omp parallel do`
  integration_tests/openmp_06.f90
  src/lfortran/semantics/ast_body_visitor.cpp
Labels: openmp

#4414 enh: openmp pass to handle pragma inside do loop
  integration_tests/CMakeLists.txt
  integration_tests/openmp_32.f90
  src/libasr/pass/openmp.cpp
Labels: openmp

#4413 ci: remove dim in `sum` intrinsic in stdlib to make `real` work
  .github/workflows/CI.yml
Labels: CI

#4063 Implement intrinsic `real`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_285.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-cmd_02-ba58262.json
  tests/reference/asr-cmd_02-ba58262.stdout
  tests/reference/asr-dependency_test_02-6d588ae.json
  tests/reference/asr-dependency_test_02-6d588ae.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-functions_12-235fd97.json
  tests/reference/asr-functions_12-235fd97.stdout
  tests/reference/asr-implicit_argument_casting_01-2274b4b.json
  tests/reference/asr-implicit_argument_casting_01-2274b4b.stdout
  tests/reference/asr-intrinsics_04-524ec3a.json
  tests/reference/asr-intrinsics_04-524ec3a.stdout
  tests/reference/asr-intrinsics_10-cfca9b9.json
  tests/reference/asr-intrinsics_10-cfca9b9.stdout
  tests/reference/asr-intrinsics_11-13a7587.json
  tests/reference/asr-intrinsics_11-13a7587.stdout
  tests/reference/asr-issue532-4bdd3b3.json
  tests/reference/asr-issue532-4bdd3b3.stdout
  tests/reference/asr-matrix_01_transpose-fb3276a.json
  tests/reference/asr-matrix_01_transpose-fb3276a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic
