Repository lfortran/lfortran, pull requests merged in 2024-09, with the labels that each got.

#4734 simplifier pass: use `get_intrinsic_subroutine_name` for IntrinsicImpureSubroutine's
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#4736 test: add compile time LAPACK constants module
  integration_tests/CMakeLists.txt
  integration_tests/la_constants.f90
Labels: tests, lapack

#4751 tests: run test `intrinsics_211`
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#4754 chore: remove stray Fortran file `a.f90`
  a.f90
Labels: simplifier pass

#4755 fix: spelling error in openmp variable missing error
  src/lfortran/semantics/ast_body_visitor.cpp
Labels: openmp

#4750 Arguments to min/max should have same type of elements
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_316.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4756 ci: enable testing `Legacy Minpack (SciPy)` with the `simplifier` pass
  .github/workflows/CI.yml
Labels: CI, simplifier pass

#4758 chore: merge `main` into `simplifier_pass` branch
  CMakeLists.txt
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_142.f90
  integration_tests/intrinsics_303.f90
  integration_tests/intrinsics_315.f90
  integration_tests/intrinsics_316.f90
  integration_tests/la_constants.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/ASR.asdl
  src/libasr/CMakeLists.txt
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pass/intrinsic_subroutines.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/stacktrace.cpp
  src/libasr/stacktrace.h
Labels: simplifier pass

#4762 ci: enable testing compilation of `Modern Minpack (Fortran-Lang)` with `simplifier` pass
  .github/workflows/CI.yml
Labels: CI, simplifier pass

#4763 Use map to store and retrieve the type of llvm::Value
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/run_tests.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#4780 tests: enable test `intrinsics_200.f90`
  integration_tests/CMakeLists.txt
Labels: tests, simplifier pass

#4781 tests: enable test `arrays_44.f90`
  integration_tests/CMakeLists.txt
Labels: tests, simplifier pass

#4796 chore: merge specific commits from `array_op_refac` branch
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_316.f90
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/intrinsic_functions.h
Labels: simplifier pass

#4794 enh: add support for reporting errors during LLVM IR execution
  src/bin/lfortran.cpp
  src/lfortran/tests/ir.ll
  src/lfortran/tests/test_llvm.cpp
  src/libasr/codegen/evaluator.cpp
  src/libasr/codegen/evaluator.h
Labels: llvm

#4805 chore: merge `main` into `simplifier_pass`
  doc/src/installation.md
  integration_tests/CMakeLists.txt
  integration_tests/openmp_34.f90
  src/lfortran/parser/fixedform_tokenizer.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pass/intrinsic_subroutines.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/fixedform_module.f
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-cmd_02-ba58262.json
  tests/reference/asr-cmd_02-ba58262.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
  tests/reference/ast-fixedform_module-3f800f0.json
  tests/reference/ast-fixedform_module-3f800f0.stdout
  tests/tests.toml
Labels: simplifier pass

#4814 [LLVM] Fix some tests for LLVM 17 opaque pointer issue
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#4819 fix: do ASR verification conditionally for `ExternalSymbol` in `ArraySize`
  src/libasr/asr_verify.cpp
Labels: simplifier pass

#4822 tests: enable testing `parameter_13`
  integration_tests/CMakeLists.txt
  integration_tests/parameter_13.f90
Labels: simplifier pass

#4820 tests: enable testing `intrinsics_311.f90` with `--realloc-lhs` flag
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#4515 enh: support passing an ArrayItem first and then an Array in `--legacy-array-sections`
  integration_tests/CMakeLists.txt
  integration_tests/legacy_array_sections_04.f90
  integration_tests/legacy_array_sections_04b.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
Labels: lapack

#4829 fix: handle logical arrays inside `WHERE` clause
  integration_tests/CMakeLists.txt
  src/libasr/pass/where.cpp
Labels: asr pass, simplifier pass

#4830 [LLVM] Store the arguments type in the `ptr_type` map
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
Labels: llvm

#4833 [LLVM] Store Struct member type in the ptr_type
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_utils.cpp
Labels: llvm

#4828 feat: duplicate return type before setting in function call
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
  tests/function_call1.f90
  tests/reference/asr-function_call1-0b992da.json
  tests/reference/asr-function_call1-0b992da.stdout
  tests/tests.toml
Labels: neural-fortran

#4841 ci: uncomment third party minpack tests
  .github/workflows/CI.yml
Labels: simplifier pass

#4857 refactor: replace type number with type name in error messages
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_julia.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/pass/where.cpp
Labels: refactor

#4863 Remove old implementation of command_argument_count
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic

#4865 enh: lsp document symbols to collect nested symbols as well
  src/bin/lfortran.cpp
Labels: LSP

#4834 Implementing `move_alloc`
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic

#4872 refactor: test `WITH_LSP`
  src/lfortran/tests/CMakeLists.txt
Labels: LSP

#4879 refactor: improve `ttype` exception message in ASR builder
  src/libasr/asr_builder.h
Labels: refactor

#4851 feat: introduce and implement `--lookup-name`, `--line` and `--column` compiler options
  run_tests.py
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/semantics/asr_lookup_name.cpp
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/semantics/ast_to_asr.h
  src/lfortran/tests/test_ast.cpp
  src/libasr/utils.h
  tests/lookup_name1.f90
  tests/reference/lookup_name-lookup_name1-9a3abcc.json
  tests/reference/lookup_name-lookup_name1-9a3abcc.stdout
  tests/tests.toml
Labels: LSP

#4849 Fixed some class tests
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#4886 refactor: duplicate code and apply code review for lsp
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/semantics/ast_to_asr.h
  src/lfortran/tests/test_ast.cpp
  src/libasr/location.h
Labels: LSP

#4864 Implement get_command_argument
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_317.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pass/intrinsic_subroutines.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-cmd_01-e172099.json
  tests/reference/asr-cmd_01-e172099.stdout
  tests/reference/asr-dependency_test_03-86dce2a.json
  tests/reference/asr-dependency_test_03-86dce2a.stdout
  tests/reference/asr-fn6-a24010a.json
  tests/reference/asr-fn6-a24010a.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic

#4921 feat: add a `DefaultLookupNameVisitor` that is created automatically
  src/lfortran/semantics/asr_lookup_name.cpp
  src/libasr/asdl_cpp.py
Labels: LSP

#4931 feat: integrate `--lookup-name` feature with lsp
  src/bin/lfortran.cpp
Labels: LSP

#4935 refactor: transfer all files to `libasr/lsp.cpp`
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.cpp
  src/libasr/lsp.cpp
Labels: LSP
