Repository lfortran/lfortran, pull requests merged in 2024-11, with the labels that each got.

#5223 enh: Fortran backend to visit `Print` arguments
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_fortran.cpp
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.json
  tests/reference/fortran-complex_to_complex_cast_fortran_codegen-d2ad266.stdout
  tests/reference/fortran-int_to_int_cast_fortran_codegen-913a36c.json
  tests/reference/fortran-int_to_int_cast_fortran_codegen-913a36c.stdout
  tests/reference/fortran-real_to_integer_cast_fortran_codegen-d0b1495.json
  tests/reference/fortran-real_to_integer_cast_fortran_codegen-d0b1495.stdout
Labels: CI, Fortran

#5228 fix: Array in ArrayInitializer is checked before dimension error
  integration_tests/CMakeLists.txt
  integration_tests/array_concat.f90
  src/lfortran/semantics/ast_body_visitor.cpp
Labels: PRIMA

#5229 chore: tokenize 'do concurrent' in fixed-form program
  src/lfortran/parser/fixedform_tokenizer.cpp
  tests/fixed_form_interface.f
  tests/reference/ast-fixed_form_interface-a8dfdb0.json
  tests/reference/ast-fixed_form_interface-a8dfdb0.stdout
Labels: fixed form parser

#5235 chore: tokenize 'FLUSH' in fixedform
  src/lfortran/parser/fixedform_tokenizer.cpp
  tests/fixed_form_interface.f
  tests/reference/ast-fixed_form_interface-a8dfdb0.json
  tests/reference/ast-fixed_form_interface-a8dfdb0.stdout
Labels: fixed form parser, POT3D

#5232 CI: fix bug with fastGPT ubuntu & fpm in Test LLVM CI job
  .github/workflows/CI.yml
Labels: CI

#5206 ci: attempt to reduce number of jobs by lumping tests
  .github/workflows/CI.yml
  src/bin/lfortran.cpp
Labels: CI

#5230 make array_02 error resilient
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/errors/array_02_cc.f90
  tests/reference/run-array_02_cc-634bad3.json
  tests/reference/run-array_02_cc-634bad3.stderr
  tests/reference/run-array_02_cc-634bad3.stdout
  tests/tests.toml
Labels: error resiliency

#5247 chore: expect variable value for implied do loop start, end, increment in data statement
  integration_tests/CMakeLists.txt
  integration_tests/data_13.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: HipFT

#5253 Error resilient array 05 array 06
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/array_05_cc.f90
  tests/errors/array_06_cc.f90
  tests/reference/run-array_05_cc-4c5cdb4.json
  tests/reference/run-array_05_cc-4c5cdb4.stderr
  tests/reference/run-array_05_cc-4c5cdb4.stdout
  tests/reference/run-array_06_cc-e5490ba.json
  tests/reference/run-array_06_cc-e5490ba.stderr
  tests/reference/run-array_06_cc-e5490ba.stdout
  tests/tests.toml
Labels: error resiliency

#5255 fix: return non-zero exit code with `--continue-compilation`
  src/bin/lfortran.cpp
  tests/reference/run-array_02_cc-634bad3.json
  tests/reference/run-array_04_cc-c986e51.json
  tests/reference/run-array_05_cc-4c5cdb4.json
  tests/reference/run-array_06_cc-e5490ba.json
  tests/reference/run-array_07-de10142.json
  tests/reference/run-assign_01-f454e20.json
Labels: error resiliency

#5268 Ref: align naming of error file
  tests/errors/array_01.f90
  tests/errors/array_01_cc.f90
  tests/errors/array_07.f90
  tests/reference/asr-array_01-6a86c32.json
  tests/reference/run-array_01_cc-ab2aff7.json
  tests/reference/run-array_01_cc-ab2aff7.stderr
  tests/reference/run-array_01_cc-ab2aff7.stdout
  tests/reference/run-array_07-de10142.json
  tests/tests.toml
Labels: error resiliency

#5265 allow 'derived type' without start 'program' in parser
  src/lfortran/parser/parser.yy
  tests/parser/derived_type_without_start_program.f90
  tests/reference/ast-derived_type_without_start_program-089810e.json
  tests/reference/ast-derived_type_without_start_program-089810e.stdout
  tests/tests.toml
Labels: parser

#5254 ci: merge `test_llvm_wasm` to `test_llvm` and test WASM for LLVM 10 and 19
  .github/workflows/CI.yml
Labels: CI

#5277 enh: frontend to support keyword argument in array reshape
  integration_tests/CMakeLists.txt
  integration_tests/arrays_reshape_18.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: PRIMA

#5282 enh: frontend to support procedure call
  integration_tests/CMakeLists.txt
  integration_tests/procedure_06.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/transform_optional_argument_functions.cpp
Labels: PRIMA

#5301 fix: handling of `where` on elemental function with array argument
  integration_tests/CMakeLists.txt
  integration_tests/where_13.f90
  src/libasr/pass/where.cpp
Labels: asr pass, PRIMA

#5302 enh: support integer(8) in spread intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_325.f90
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: intrinsic, PRIMA

#5303 Error resilient array-03
  src/libasr/codegen/asr_to_llvm.cpp
  tests/errors/array_03.f90
  tests/errors/array_03_cc.f90
  tests/reference/asr-array_03-a79d86f.json
  tests/reference/run-array_03_cc-e368d39.json
  tests/reference/run-array_03_cc-e368d39.stderr
  tests/reference/run-array_03_cc-e368d39.stdout
  tests/tests.toml
Labels: error resiliency

#5306 Enforce 72-column limit on fixed-form inputs
  src/lfortran/parser/parser.cpp
  tests/common2.f
  tests/fixed_form_line_limit.f
  tests/reference/asr-common2-64c97b2.json
  tests/reference/ast-common2-1811464.json
  tests/reference/ast-fixed_form_line_limit-0a3f0f0.json
  tests/reference/ast-fixed_form_line_limit-0a3f0f0.stdout
  tests/tests.toml
Labels: fixed form parser

#5300 Error resilient array constructor with asterisk in type spec
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/array_constructor_with_asterisk_in_type_spec_cc.f90
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.json
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.stderr
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.stdout
  tests/tests.toml
Labels: error resiliency

#5310 ref: frontend to not create Enum_t instead add symbols in parent_scope
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  tests/reference/llvm-modules_38-8886f9a.json
  tests/reference/llvm-modules_38-8886f9a.stdout
Labels: Performance, refactor

#5326 feat: error resilient intrinsic function
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/array_size_01_cc.f90
  tests/reference/run-array_size_01_cc-9335a32.json
  tests/reference/run-array_size_01_cc-9335a32.stderr
  tests/reference/run-array_size_01_cc-9335a32.stdout
  tests/tests.toml
Labels: error resiliency

#5325 feat: error resilient array shape/dimension
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/errors/array_shape_01_cc.f90
  tests/reference/run-array_shape_01_cc-098a6d5.json
  tests/reference/run-array_shape_01_cc-098a6d5.stderr
  tests/reference/run-array_shape_01_cc-098a6d5.stdout
  tests/tests.toml
Labels: error resiliency

#5307 feat: error resilient arithmetic if
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/errors/arithmetic_if1_cc.f90
  tests/reference/run-arithmetic_if1_cc-87bcd45.json
  tests/reference/run-arithmetic_if1_cc-87bcd45.stderr
  tests/reference/run-arithmetic_if1_cc-87bcd45.stdout
  tests/tests.toml
Labels: error resiliency

#5346 enh: make_array_size_t_util to support IntrinsicArrayFunction
  integration_tests/CMakeLists.txt
  integration_tests/arrays_57.f90
  src/libasr/asr_utils.h
Labels: PRIMA

#5343 fix: parser to throw multiple error messages only when `--continue-compilation` is enabled
  run_tests.py
  src/lfortran/parser/parser.cpp
  src/lfortran/parser/parser.h
  tests/reference/ast-multi_error1-f624d97.json
  tests/reference/ast-multi_error1-f624d97.stderr
  tests/reference/run-multi_error1-2ef69ef.json
  tests/reference/run-multi_error1-2ef69ef.stderr
  tests/reference/run-multi_error1-2ef69ef.stdout
  tests/tests.toml
Labels: error resiliency

#5347 feat: error resilient atmoic ops and add a single test file
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/arithmetic_if1_cc.f90
  tests/errors/array_01_cc.f90
  tests/errors/array_02_cc.f90
  tests/errors/array_03_cc.f90
  tests/errors/array_04_cc.f90
  tests/errors/array_06_cc.f90
  tests/errors/array_constructor_with_asterisk_in_type_spec_cc.f90
  tests/errors/array_shape_01_cc.f90
  tests/errors/array_size_01_cc.f90
  tests/errors/array_xx_cc.f90
  tests/errors/atomic_01_cc.f90
  tests/reference/run-arithmetic_if1_cc-87bcd45.json
  tests/reference/run-arithmetic_if1_cc-87bcd45.stderr
  tests/reference/run-arithmetic_if1_cc-87bcd45.stdout
  tests/reference/run-array_01_cc-ab2aff7.json
  tests/reference/run-array_01_cc-ab2aff7.stderr
  tests/reference/run-array_01_cc-ab2aff7.stdout
  tests/reference/run-array_02_cc-634bad3.json
  tests/reference/run-array_02_cc-634bad3.stderr
  tests/reference/run-array_03_cc-e368d39.json
  tests/reference/run-array_03_cc-e368d39.stderr
  tests/reference/run-array_03_cc-e368d39.stdout
  tests/reference/run-array_04_cc-c986e51.json
  tests/reference/run-array_04_cc-c986e51.stderr
  tests/reference/run-array_04_cc-c986e51.stdout
  tests/reference/run-array_06_cc-e5490ba.json
  tests/reference/run-array_06_cc-e5490ba.stderr
  tests/reference/run-array_06_cc-e5490ba.stdout
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.json
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.stderr
  tests/reference/run-array_constructor_with_asterisk_in_type_spec_cc-fc032e2.stdout
  tests/reference/run-array_shape_01_cc-098a6d5.json
  tests/reference/run-array_shape_01_cc-098a6d5.stderr
  tests/reference/run-array_shape_01_cc-098a6d5.stdout
  tests/reference/run-array_size_01_cc-9335a32.json
  tests/reference/run-array_size_01_cc-9335a32.stderr
  tests/reference/run-array_size_01_cc-9335a32.stdout
  tests/reference/run-array_xx_cc-858ee33.json
  tests/reference/run-array_xx_cc-858ee33.stderr
  tests/reference/run-array_xx_cc-858ee33.stdout
  tests/reference/run-atomic_01_cc-8254b31.json
  tests/reference/run-atomic_01_cc-8254b31.stderr
  tests/reference/run-atomic_01_cc-8254b31.stdout
  tests/tests.toml
Labels: error resiliency

#5348 [MLIR] Add support for basic real type along with tests
  integration_tests/CMakeLists.txt
  src/lfortran/fortran_evaluator.cpp
  src/libasr/codegen/asr_to_mlir.cpp
Labels: mlir

#5354 feat: error resilient errors
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/reference/run-continue_compilation_2-3499257.stdout
  tests/tests.toml
Labels: error resiliency

#5374 feat: error resilient coarrays, compare, complex
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/reference/run-continue_compilation_2-3499257.stdout
Labels: error resiliency

#5349 enh: intrinsic function pass to allocate temporary of intrinsic Transpose
  integration_tests/CMakeLists.txt
  integration_tests/arrays_58.f90
  src/libasr/pass/intrinsic_function.cpp
Labels: PRIMA

#5381 ref: combined errors in single file
  tests/errors/array_size_02_cc.f90
  tests/errors/array_size_05_cc.f90
  tests/errors/atomic_01_cc.f90
  tests/errors/continue_compilation_2.f90
  tests/reference/run-array_size_02_cc-c7cec87.json
  tests/reference/run-array_size_02_cc-c7cec87.stderr
  tests/reference/run-array_size_02_cc-c7cec87.stdout
  tests/reference/run-array_size_05_cc-98734df.json
  tests/reference/run-array_size_05_cc-98734df.stderr
  tests/reference/run-array_size_05_cc-98734df.stdout
  tests/reference/run-atomic_01_cc-8254b31.json
  tests/reference/run-atomic_01_cc-8254b31.stderr
  tests/reference/run-atomic_01_cc-8254b31.stdout
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/tests.toml
Labels: error resiliency

#5383 Enh : Utilize stringDescriptor size for `len()`
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-string_17-29e01e3.json
  tests/reference/asr-string_17-29e01e3.stdout
Labels: enhancement

#5329 revert: creating `Enum_t` node and link variables via `ExternalSymbol`
  integration_tests/CMakeLists.txt
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/codegen/asr_to_fortran.cpp
  tests/reference/fortran-enum_01-3bcfd6d.json
  tests/reference/fortran-enum_01-3bcfd6d.stdout
  tests/reference/llvm-modules_38-8886f9a.json
  tests/reference/llvm-modules_38-8886f9a.stdout
  tests/tests.toml
Labels: refactor

#5402 refactor: `ast_body_visitor` to throw `SemanticAbort()` instead at every place
  src/lfortran/semantics/ast_body_visitor.cpp
Labels: refactor

#5403 Ref: append errors in diagnostics for `ast_common_visitor` file and removed Semantic Errors
  src/lfortran/semantics/ast_common_visitor.h
Labels: refactor, error resiliency

#5331 feat: error resilient array with different kind
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
Labels: error resiliency

#5404 build: add `CMAKE_EXPORT_COMPILE_COMMANDS` option to build script for working with `clangd` LSP
  build1.bat
  build1.sh
  build_release.sh
  build_to_wasm.sh
Labels: build

#5409 Feat: add error tests with continue compilation flag
  tests/errors/array_xx_cc.f90
  tests/errors/continue_compilation_2.f90
  tests/reference/run-array_xx_cc-858ee33.json
  tests/reference/run-array_xx_cc-858ee33.stderr
  tests/reference/run-array_xx_cc-858ee33.stdout
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/reference/run-continue_compilation_2-3499257.stdout
Labels: error resiliency

#5408 Ref: removed all throw semantic errors from `ast_common_visitor` file
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-subroutine2-2e9b84b.json
  tests/reference/asr-subroutine2-2e9b84b.stderr
Labels: refactor, error resiliency

#5406 Enh: refactor semantic errors in ast_symboltable_visitor file
  src/lfortran/semantics/ast_symboltable_visitor.cpp
Labels: error resiliency

#5412 Enh: refactor semantic errors in all the files
  src/lfortran/semantics/asr_implicit_cast_rules.h
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/lfortran/semantics/comptime_eval.h
  src/libasr/asr_utils.h
  src/libasr/pass/instantiate_template.cpp
  tests/reference/asr-kind_float_of_int-4b9cf53.json
  tests/reference/asr-kind_float_of_int-4b9cf53.stderr
  tests/reference/asr-kind_string_of_int-ed0ec70.json
  tests/reference/asr-kind_string_of_int-ed0ec70.stderr
Labels: error resiliency

#5407 Fixed a bug in pass class constructor
  integration_tests/CMakeLists.txt
  integration_tests/multiple_objects_args.f90
  src/libasr/pass/pass_utils.h
  tests/reference/pass_class_constructor-multiple_objects_args-2d1007e.json
  tests/reference/pass_class_constructor-multiple_objects_args-2d1007e.stdout
  tests/tests.toml
Labels: asr pass

#5415 refactor: remove unused `#include` directives
  src/lfortran/fortran_evaluator.cpp
  src/lfortran/fortran_evaluator.h
  src/lfortran/mod_to_asr.cpp
  src/lfortran/parser/fixedform_tokenizer.cpp
  src/lfortran/parser/parser.cpp
  src/lfortran/parser/parser.h
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/lfortran/semantics/ast_to_asr.cpp
  src/lfortran/utils.cpp
  src/libasr/asr_utils.h
  src/libasr/asr_verify.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_py.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/array_op_simplifier.cpp
  src/libasr/pass/class_constructor.cpp
  src/libasr/pass/dead_code_removal.cpp
  src/libasr/pass/div_to_mul.cpp
  src/libasr/pass/flip_sign.cpp
  src/libasr/pass/fma.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/init_expr.cpp
  src/libasr/pass/insert_deallocate.cpp
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/loop_unroll.cpp
  src/libasr/pass/loop_vectorise.cpp
  src/libasr/pass/nested_vars.cpp
  src/libasr/pass/pass_array_by_data.cpp
  src/libasr/pass/pass_compare.cpp
  src/libasr/pass/pass_list_expr.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/pass/pass_utils.h
  src/libasr/pass/replace_symbolic.cpp
  src/libasr/pass/sign_from_value.cpp
  src/libasr/pass/simplifier.cpp
  src/libasr/pass/subroutine_from_function_simplifier.cpp
  src/libasr/pass/transform_optional_argument_functions.cpp
  src/libasr/pass/unique_symbols.cpp
  src/libasr/pass/update_array_dim_intrinsic_calls.cpp
Labels: refactor

#5328 feat: error resilient array with different character length
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
Labels: error resiliency

#5417 feat: add more error tests with continue compilation flag
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
Labels: error resiliency

#5425 fix: incorrect location of procedure calls
  src/libasr/asdl_cpp.py
  src/libasr/asr_lookup_name.cpp
  tests/reference/lookup_name-function_call1-c233951.json
  tests/reference/lookup_name-function_call1-c233951.stdout
  tests/tests.toml
Labels: LSP

#5432 ref: remove semantic error class
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/lfortran/semantics/semantic_exception.h
  src/libasr/semantic_exception.h
Labels: refactor, error resiliency

#5434 Chore : Add implementation to duplicate generic procedure
  integration_tests/CMakeLists.txt
  integration_tests/modules_59.f90
  src/libasr/asr_utils.h
Labels: PRIMA

#5456 enh: `--lookup-name` to return symbol name
  src/libasr/lsp.cpp
  tests/reference/lookup_name-function_call1-c233951.json
  tests/reference/lookup_name-function_call1-c233951.stdout
  tests/reference/lookup_name-lookup_name1-9a3abcc.json
  tests/reference/lookup_name-lookup_name1-9a3abcc.stdout
Labels: LSP

#5457 enh: show ast with `--continue-compilation`
  src/lfortran/parser/parser.cpp
  tests/multi_error1.f90
  tests/reference/ast-multi_error1-f624d97.json
  tests/reference/ast-multi_error1-f624d97.stderr
  tests/reference/ast-multi_error1-f624d97.stdout
  tests/reference/run-multi_error1-2ef69ef.json
  tests/reference/run-multi_error1-2ef69ef.stderr
  tests/reference/run-multi_error1-2ef69ef.stdout
  tests/tests.toml
Labels: error resiliency

#5460 rem: rapidjson WITH_LSP
  CMakeLists.txt
Labels: LSP

#5465 feat: add error tests with `I` intial with continue-compilation flag
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/reference/run-continue_compilation_2-3499257.stdout
Labels: error resiliency

#5470 chore: compile only till ASR with `--continue-compilation`
  src/bin/lfortran.cpp
  tests/reference/run-array_05_cc-4c5cdb4.json
  tests/reference/run-array_05_cc-4c5cdb4.stdout
  tests/reference/run-array_xx_cc-858ee33.json
  tests/reference/run-array_xx_cc-858ee33.stdout
  tests/reference/run-assign_01-f454e20.json
  tests/reference/run-assign_01-f454e20.stdout
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stdout
  tests/reference/run-multi_error1-2ef69ef.json
  tests/reference/run-multi_error1-2ef69ef.stdout
Labels: error resiliency

#5471 feat: add error tests with continue-compilation flag
  tests/errors/continue_compilation_1.f90
  tests/errors/matrix_matmul_03.f90
  tests/errors/matrix_matmul_04.f90
  tests/errors/matrix_matmul_05.f90
  tests/errors/matrix_matmul_06.f90
  tests/errors/merge_bits_run.f90
  tests/reference/asr-matrix_matmul_03-a99cdd1.json
  tests/reference/asr-matrix_matmul_04-90da47c.json
  tests/reference/asr-matrix_matmul_05-c57a23d.json
  tests/reference/asr-matrix_matmul_06-d802f54.json
  tests/reference/asr-merge_bits_run-9579699.json
  tests/reference/run-continue_compilation_1-08988e5.json
  tests/reference/run-continue_compilation_1-08988e5.stderr
  tests/reference/run-continue_compilation_1-08988e5.stdout
  tests/tests.toml
Labels: error resiliency

#5476 feat: add error tests with continue-compilation flag
  tests/errors/array_xx_cc.f90
  tests/errors/continue_compilation_3.f90
  tests/errors/program_variable.f90
  tests/errors/rewind_invalid_kwarg1.f90
  tests/errors/sign_01.f90
  tests/errors/specific_type_intrinsic.f90
  tests/errors/string_negative_start_index.f90
  tests/reference/asr-program_variable-066cc64.json
  tests/reference/asr-program_variable-066cc64.stderr
  tests/reference/asr-rewind_invalid_kwarg1-54e2b4f.json
  tests/reference/asr-rewind_invalid_kwarg1-54e2b4f.stderr
  tests/reference/asr-sign_01-62b270e.json
  tests/reference/asr-specific_type_intrinsic-60c666c.json
  tests/reference/asr-string_negative_start_index-643e9c0.json
  tests/reference/run-array_xx_cc-858ee33.json
  tests/reference/run-array_xx_cc-858ee33.stderr
  tests/reference/run-continue_compilation_3-504b670.json
  tests/reference/run-continue_compilation_3-504b670.stderr
  tests/reference/run-continue_compilation_3-504b670.stdout
  tests/tests.toml
Labels: error resiliency

#5477 feat: add error tests with continue-compilation flag
  tests/errors/continue_compilation_2.f90
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stderr
  tests/reference/run-continue_compilation_2-3499257.stdout
Labels: error resiliency

#5458 feat: introduce and implement `--rename-symbol`
  run_tests.py
  src/bin/lfortran.cpp
  src/lfortran/fortran_evaluator.cpp
  src/libasr/asr_lookup_name.cpp
  src/libasr/asr_lookup_name.h
  src/libasr/lsp.cpp
  src/libasr/utils.h
  tests/collect_occurence1.f90
  tests/reference/rename_symbol-collect_occurence1-98d138a.json
  tests/reference/rename_symbol-collect_occurence1-98d138a.stdout
  tests/tests.toml
Labels: LSP

#5485 feat: introduce and implement `--semantics-only`
  run_tests.py
  src/bin/lfortran.cpp
  src/libasr/utils.h
  tests/reference/asr-array_05_cc-37bfc03.json
  tests/reference/asr-array_05_cc-37bfc03.stderr
  tests/reference/asr-assign_01-2cf003f.json
  tests/reference/asr-assign_01-2cf003f.stderr
  tests/reference/asr-continue_compilation_1-04b6d40.json
  tests/reference/asr-continue_compilation_1-04b6d40.stderr
  tests/reference/asr-continue_compilation_2-a6145a1.json
  tests/reference/asr-continue_compilation_2-a6145a1.stderr
  tests/reference/asr-continue_compilation_3-435a232.json
  tests/reference/asr-continue_compilation_3-435a232.stderr
  tests/reference/asr-multi_error1-ed395f9.json
  tests/reference/asr-multi_error1-ed395f9.stderr
  tests/reference/ast-multi_error1-6934f65.json
  tests/reference/ast-multi_error1-6934f65.stderr
  tests/reference/ast-multi_error1-f624d97.json
  tests/reference/ast-multi_error1-f624d97.stdout
  tests/reference/run-array_05_cc-4c5cdb4.json
  tests/reference/run-array_05_cc-4c5cdb4.stdout
  tests/reference/run-assign_01-f454e20.json
  tests/reference/run-assign_01-f454e20.stdout
  tests/reference/run-continue_compilation_1-08988e5.json
  tests/reference/run-continue_compilation_1-08988e5.stdout
  tests/reference/run-continue_compilation_2-3499257.json
  tests/reference/run-continue_compilation_2-3499257.stdout
  tests/reference/run-continue_compilation_3-504b670.json
  tests/reference/run-continue_compilation_3-504b670.stdout
  tests/reference/run-multi_error1-2ef69ef.json
  tests/reference/run-multi_error1-2ef69ef.stderr
  tests/reference/run-multi_error1-2ef69ef.stdout
  tests/tests.toml
Labels: LSP, error resiliency

#5510 fix: error in Handling Array Intrinsics with Explicit Shaped arrays
  integration_tests/CMakeLists.txt
  integration_tests/arrays_61.f90
  src/libasr/pass/pass_utils.cpp
  tests/reference/llvm-arrays_06-538e67d.json
  tests/reference/llvm-arrays_06-538e67d.stdout
  tests/reference/llvm-arrays_op_1-636d572.json
  tests/reference/llvm-arrays_op_1-636d572.stdout
  tests/reference/llvm-arrays_op_2-c36ad8d.json
  tests/reference/llvm-arrays_op_2-c36ad8d.stdout
  tests/reference/llvm-arrays_op_4-df4e84d.json
  tests/reference/llvm-arrays_op_4-df4e84d.stdout
  tests/reference/llvm-arrays_op_5-8426b5a.json
  tests/reference/llvm-arrays_op_5-8426b5a.stdout
  tests/reference/pass_where-where_01-94e4416.json
  tests/reference/pass_where-where_01-94e4416.stdout
  tests/reference/pass_where-where_03-00685f9.json
  tests/reference/pass_where-where_03-00685f9.stdout
Labels: PRIMA

#5423 build: use `ninja` for build
  build1.bat
  build1.sh
  build_release.sh
Labels: build
