Repository lfortran/lfortran, pull requests merged in 2024-07, with the labels that each got.

#4334 enh : Memorize Duplicate `intrinsicsElementalFunction` + `intrinsicsArrayFunction`
  integration_tests/CMakeLists.txt
  integration_tests/where_11.f90
  src/libasr/pass/array_op.cpp
  src/libasr/pass/where.cpp
Labels: asr pass, SNAP

#4428 feat: implement intrinsic `compiler_version`
  integration_tests/CMakeLists.txt
  integration_tests/compiler_version_01.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4417 fix: incorrect physical types of character array
  integration_tests/CMakeLists.txt
  integration_tests/character_06.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.cpp
  tests/reference/asr-array12-cb81afc.json
  tests/reference/asr-array12-cb81afc.stdout
  tests/reference/asr-arrays_20-4b5a0e4.json
  tests/reference/asr-arrays_20-4b5a0e4.stdout
  tests/reference/asr-char_arr_assignment-1f9a875.json
  tests/reference/asr-char_arr_assignment-1f9a875.stdout
  tests/reference/asr-character_parameter_padding_trimming-ea91653.json
  tests/reference/asr-character_parameter_padding_trimming-ea91653.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-intrinsics_46-0ef4d7a.json
  tests/reference/asr-intrinsics_46-0ef4d7a.stdout
  tests/reference/asr-modules_31-cd9bfef.json
  tests/reference/asr-modules_31-cd9bfef.stdout
  tests/reference/asr-modules_35-5fba3e7.json
  tests/reference/asr-modules_35-5fba3e7.stdout
  tests/reference/asr-modules_39-89c7d0d.json
  tests/reference/asr-modules_39-89c7d0d.stdout
  tests/reference/asr-modules_44-ec0baa3.json
  tests/reference/asr-modules_44-ec0baa3.stdout
  tests/reference/asr-modules_52-5261d38.json
  tests/reference/asr-modules_52-5261d38.stdout
  tests/reference/asr-string1-f6332d9.json
  tests/reference/asr-string1-f6332d9.stdout
  tests/reference/asr-string2-3425046.json
  tests/reference/asr-string2-3425046.stdout
  tests/reference/asr-string_04-2ebc0e6.json
  tests/reference/asr-string_04-2ebc0e6.stdout
  tests/reference/pass_implied_do_loops-modules_35-c089638.json
  tests/reference/pass_implied_do_loops-modules_35-c089638.stdout
  tests/reference/pass_pass_array_by_data-modules_44-cd82150.json
  tests/reference/pass_pass_array_by_data-modules_44-cd82150.stdout
Labels: lapack

#4436 fix: incorrect handling of decrement variable in do loop
  integration_tests/CMakeLists.txt
  integration_tests/do_loop_05.f90
  src/libasr/pass/pass_utils.cpp
Labels: lapack

#4423 Implied loop on structinstancemember
  integration_tests/CMakeLists.txt
  integration_tests/derived_types_37.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/pass_utils.cpp
  tests/errors/derived_type_06.f90
  tests/reference/run-derived_type_06-2623a81.json
  tests/reference/run-derived_type_06-2623a81.stderr
  tests/tests.toml
Labels: asr pass, SNAP

#4447 Add getter_functions in modules, functions scope
  integration_tests/CMakeLists.txt
  integration_tests/arrays_50.f90
  integration_tests/arrays_50_mod.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: SNAP

#4450 chore (ci): setup CI job for testing SNAP compilation
  .github/workflows/CI.yml
Labels: CI, SNAP

#4460 test: add integration tests for `ishftc`, `bit_size`, `conjg`
  integration_tests/CMakeLists.txt
  integration_tests/complex_08.f90
  integration_tests/intrinsics_208.f90
  integration_tests/intrinsics_289.f90
Labels: intrinsic

#4448 chore: set physical cast of argument correctly while creating implicit interface
  integration_tests/CMakeLists.txt
  integration_tests/implicit_interface_15.f90
  integration_tests/implicit_interface_15b.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: lapack

#4462 enh: handle explicit type handling in creation of external function.
  integration_tests/CMakeLists.txt
  integration_tests/implicit_interface_16.f90
  integration_tests/implicit_interface_16b.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-external_01-6754623.json
  tests/reference/asr-external_01-6754623.stdout
  tests/reference/asr-intrinsics_02-eb20326.json
  tests/reference/asr-intrinsics_02-eb20326.stderr
  tests/reference/asr-intrinsics_03-f6b3e89.json
  tests/reference/asr-intrinsics_03-f6b3e89.stderr
  tests/reference/asr-intrinsics_04-fbc7b3a.json
  tests/reference/asr-intrinsics_04-fbc7b3a.stderr
  tests/reference/asr-intrinsics_05-a2b71c6.json
  tests/reference/asr-intrinsics_05-a2b71c6.stderr
  tests/reference/asr-intrinsics_06-1ff7a26.json
  tests/reference/asr-intrinsics_06-1ff7a26.stderr
  tests/reference/asr-merge_bits_run-9579699.stdout
Labels: lapack

#4463 CI: add `macos-latest` test for third party code compilation
  .github/workflows/CI.yml
Labels: CI

#4476 tests: add tests for `gamma` and `log10` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_290.f90
  integration_tests/intrinsics_291.f90
Labels: intrinsic

#4484 make RealType independent of -fdefault-integer-8
  integration_tests/CMakeLists.txt
  integration_tests/parameter_14.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: lapack

#4475 fix: divergence in `command_argument_count`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_290.f90
  integration_tests/intrinsics_292.f90
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
Labels: intrinsic, SNAP

#4486 add cycle statement to lex_body_statements in fixed form tokenizer
  integration_tests/CMakeLists.txt
  integration_tests/cycle_and_exit6.f90
  src/lfortran/parser/fixedform_tokenizer.cpp
Labels: lapack

#4496 enh: frontend to allow declaration of external function type after its initial declaration
  integration_tests/CMakeLists.txt
  integration_tests/implicit_interface_17.f90
  integration_tests/implicit_interface_17b.f90
  src/lfortran/semantics/ast_common_visitor.h
Labels: lapack

#4503 Fix: `lapack/dpttrf` compiles and runs correctly
  integration_tests/CMakeLists.txt
  integration_tests/lapack_01.f90
Labels: tests, lapack

#4511 fix : Nested array ref in where
  integration_tests/CMakeLists.txt
  integration_tests/where_12.f90
  src/libasr/pass/where.cpp
Labels: asr pass, SNAP

#4516 lex body statements inside do while loops
  integration_tests/CMakeLists.txt
  integration_tests/while_03.f90
  src/lfortran/parser/fixedform_tokenizer.cpp
Labels: fixed form parser, lapack

#4519 chore (ci): test SNAP compiled binary execution at the CI
  .github/workflows/CI.yml
Labels: CI, SNAP

#4478 tests: add tests for `log_gamma` and `dgamma` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_293.f90
  integration_tests/intrinsics_294.f90
Labels: intrinsic

#4534 test: add mandelbrot test with `openmp`
  integration_tests/CMakeLists.txt
  integration_tests/do_concurrent_13.f90
  integration_tests/openmp_33.f90
Labels: openmp

#4540 correct return type for logical
  integration_tests/intrinsics_241.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4546 Implement `storage_size` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_296.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4543 test: add integration test for `exp`
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_16.f90
  integration_tests/intrinsics_295.f90
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4556 Add test for non-scalar kind arg for `int` intrinsic
  tests/errors/int_01.f90
  tests/reference/asr-int_01-9bf3eb9.json
  tests/reference/asr-int_01-9bf3eb9.stderr
  tests/tests.toml
Labels: intrinsic

#4561 Add integration tests for intrinsic functions
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_115.f90
  integration_tests/intrinsics_127.f90
  integration_tests/intrinsics_128.f90
  integration_tests/intrinsics_135.f90
  integration_tests/intrinsics_178.f90
  integration_tests/intrinsics_187.f90
  integration_tests/intrinsics_237.f90
  integration_tests/intrinsics_297.f90
Labels: intrinsic
