Repository lfortran/lfortran, pull requests merged in 2024-08, with the labels that each got.

#4570 enh : Support array printing in backend
  integration_tests/CMakeLists.txt
  integration_tests/print_arr_06.f90
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  tests/reference/llvm-derived_types_32-4684b97.json
  tests/reference/llvm-derived_types_32-4684b97.stdout
  tests/reference/llvm-format2-ed47ddb.json
  tests/reference/llvm-format2-ed47ddb.stdout
Labels: enhancement, arrays, fmt, Performance

#4583 Support different kind of args in min/max and update tests
  integration_tests/intrinsics_131.f90
  integration_tests/intrinsics_88.f90
  src/libasr/pass/intrinsic_functions.h
  tests/errors/intrinsics12.f90
  tests/errors/intrinsics13.f90
  tests/reference/asr-intrinsics12-16f1580.json
  tests/reference/asr-intrinsics12-16f1580.stderr
  tests/reference/asr-intrinsics13-349f6ac.json
  tests/reference/asr-intrinsics13-349f6ac.stderr
  tests/reference/asr-max_01-b3ef694.json
  tests/reference/asr-max_01-b3ef694.stderr
  tests/reference/asr-max_01-b3ef694.stdout
  tests/reference/asr-max_02-ddd1334.json
  tests/reference/asr-max_02-ddd1334.stderr
  tests/reference/asr-max_02-ddd1334.stdout
  tests/reference/asr-min_01-aefbe8a.json
  tests/reference/asr-min_01-aefbe8a.stderr
  tests/reference/asr-min_01-aefbe8a.stdout
  tests/reference/asr-min_02-81ef3b7.json
  tests/reference/asr-min_02-81ef3b7.stderr
  tests/reference/asr-min_02-81ef3b7.stdout
  tests/tests.toml
Labels: intrinsic

#4580 enh : Implied allocatable array assignment in StructIntanceMember
  integration_tests/derived_types_37.f90
  src/libasr/pass/array_op.cpp
  src/libasr/pass/pass_utils.cpp
Labels: SNAP

#4533 feat: add runtime implementation of `ishftc` intrinsic
  integration_tests/intrinsics_163.f90
  src/libasr/pass/intrinsic_functions.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: intrinsic

#4596 chore (ci): test SNAP compilation with `--fast`
  .github/workflows/CI.yml
Labels: CI, SNAP, --fast

#4599 Throw error if second arg of `modulo` is 0
  src/libasr/pass/intrinsic_functions.h
  tests/errors/modulo_01.f90
  tests/reference/asr-modulo_01-b82bee9.json
  tests/reference/asr-modulo_01-b82bee9.stderr
  tests/tests.toml
Labels: intrinsic

#4604 Throw error for different kind of args in `sign` and update integration test
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_304.f90
  integration_tests/string_16.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  tests/errors/sign_01.f90
  tests/reference/asr-sign_01-62b270e.json
  tests/reference/asr-sign_01-62b270e.stderr
  tests/tests.toml
Labels: intrinsic

#4610 rectify bugs in intrinsics an update tests
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_153.f90
  integration_tests/intrinsics_305.f90
  integration_tests/intrinsics_306.f90
  integration_tests/intrinsics_307.f90
  integration_tests/intrinsics_308.f90
  integration_tests/intrinsics_70.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4612 dev: throw error when arg of kind in ifix is not 4
  src/libasr/pass/intrinsic_functions.h
  tests/errors/dprod_01.f90
  tests/errors/ifix_01.f90
  tests/reference/asr-dprod_01-80a930c.json
  tests/reference/asr-dprod_01-80a930c.stderr
  tests/reference/asr-ifix_01-ed76fb2.json
  tests/reference/asr-ifix_01-ed76fb2.stderr
  tests/tests.toml
Labels: intrinsic

#4624 fix: fix printing `IntrinsicElementalFunction_t`
  src/libasr/pass/replace_symbolic.cpp
  tests/print_intrinsics.f90
  tests/reference/asr-print_intrinsics-8e5d219.json
  tests/reference/asr-print_intrinsics-8e5d219.stdout
  tests/reference/llvm-string_11-e6c763f.json
  tests/reference/llvm-string_11-e6c763f.stdout
  tests/reference/run-print_intrinsics-9b076f7.json
  tests/reference/run-print_intrinsics-9b076f7.stdout
  tests/tests.toml
Labels: asr pass

#4630 enh: handle complex args in `aimag` with kind = 8
  integration_tests/intrinsics_16.f90
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_functions.h
Labels: intrinsic

#4621 enh: frontend to recognise `exit()` routine
  integration_tests/CMakeLists.txt
  integration_tests/exit_01.f90
  integration_tests/exit_02.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  tests/exit1.f90
  tests/exit2.f90
  tests/reference/run-exit1-29ee7ce.json
  tests/reference/run-exit1-29ee7ce.stderr
  tests/reference/run-exit1-29ee7ce.stdout
  tests/reference/run-exit2-f1f3b2c.json
  tests/reference/run-exit2-f1f3b2c.stderr
  tests/reference/run-exit2-f1f3b2c.stdout
  tests/tests.toml
Labels: intrinsic, SNAP

#4642 test: add test for array in interactive mode
  src/lfortran/tests/test_llvm.cpp
Labels: tests

#4653 Throw error if `kind` arg in intrinsics is non-scalar
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/kind_01.f90
  tests/reference/asr-kind_01-6c675be.json
  tests/reference/asr-kind_01-6c675be.stderr
  tests/tests.toml
Labels: intrinsic

#4560 feat: implement `get_command` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/subroutines_13.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_builder.h
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pass/intrinsic_subroutines.h
  src/libasr/runtime/lfortran_intrinsics.c
Labels: intrinsic

#4661 fix: printing incorrect name of `IntrinsicImpureSubroutine` in ASR
  src/libasr/ASR.asdl
  src/libasr/asdl_cpp.py
  src/libasr/asr_utils.cpp
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/pass/intrinsic_subroutine.cpp
  src/libasr/pass/intrinsic_subroutine_registry.h
  src/libasr/pickle.cpp
  tests/reference/asr-intrinsics_29-d4080f2.json
  tests/reference/asr-intrinsics_29-d4080f2.stdout
  tests/reference/asr-matmul_01-7b0b0c2.json
  tests/reference/asr-matmul_01-7b0b0c2.stdout
Labels: intrinsic

#4665 fix: struct type out of symbol error by duplicating it inside symbol table whenever required
  integration_tests/CMakeLists.txt
  integration_tests/struct_type_01.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
Labels: SNAP

#4669 Wrap args inside stringFormat in write + remove write visitor in `print_arr` pass
  integration_tests/CMakeLists.txt
  integration_tests/format_15.f90
  integration_tests/format_16.f90
  integration_tests/format_17.f90
  src/lfortran/semantics/ast_body_visitor.cpp
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/print_arr.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  tests/reference/asr-intrinsics_open_close_read_write-a696eca.json
  tests/reference/asr-intrinsics_open_close_read_write-a696eca.stdout
  tests/reference/asr-print3-5f4fc26.json
  tests/reference/asr-print3-5f4fc26.stdout
  tests/reference/llvm-print_01-63a0480.json
  tests/reference/llvm-print_01-63a0480.stdout
  tests/reference/run-print3-b6beca0.json
  tests/reference/run-print3-b6beca0.stdout
Labels: SNAP

#4683 feat: support `tuple` write and print in implied_do_loops
  src/libasr/pass/implied_do_loops.cpp
  tests/implied_do_loop1.f90
  tests/reference/run-implied_do_loop1-1d0df34.json
  tests/reference/run-implied_do_loop1-1d0df34.stdout
  tests/tests.toml
Labels: SNAP

#4689 Fix (nullify) : use malloc instead of allocation on stack
  integration_tests/CMakeLists.txt
  integration_tests/pointer_02.f90
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_array_utils.h
Labels: SNAP

#4688 feat: add support for executing `.ll` files directly
  src/bin/lfortran.cpp
  src/libasr/codegen/evaluator.cpp
  src/libasr/codegen/evaluator.h
Labels: llvm, feature

#4714 test: add test case with different `kind` for intrinsic `dot_product`
  integration_tests/intrinsics_142.f90
Labels: tests, intrinsic
