Repository lfortran/lfortran, pull requests merged in 2024-10, with the labels that each got.

#4953 [LLVM] Specify type for the polymorphic derived types
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#4965 simplifier pass: Cherry pick commits for fix for matmul_01
  integration_tests/CMakeLists.txt
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#4969 simplifier pass (CI): try uncommenting CI job to see if LLVM tests succeed
  .github/workflows/CI.yml
Labels: simplifier pass

#4972 ci: uncomment 3rd party tests that work
  .github/workflows/CI.yml
Labels: CI, simplifier pass

#4911 fix: replace `ArrayBroadcast` in `where` pass
  integration_tests/CMakeLists.txt
  src/libasr/pass/where.cpp
Labels: simplifier pass

#4966 simplifier pass: cherry pick fix for template_04
  integration_tests/CMakeLists.txt
  integration_tests/template_04.f90
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/pass/simplifier.cpp
  src/libasr/pass/subroutine_from_function.cpp
Labels: simplifier pass

#4984 chore: use simplifier pass with --fast and reorder passes
  integration_tests/CMakeLists.txt
  integration_tests/legacy_array_sections_05.f90
  src/libasr/pass/pass_manager.h
Labels: simplifier pass

#4986 chore: run `implied_do_loops` pass to support tuple printing
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  src/libasr/CMakeLists.txt
  src/libasr/asr_utils.h
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/pass_manager.h
Labels: CI, simplifier pass

#4991 ci: enable SNAP with --fast
  .github/workflows/CI.yml
  src/libasr/pass/pass_manager.h
Labels: CI, simplifier pass

#4993 enh: handle `LogicalNot`
  integration_tests/CMakeLists.txt
  integration_tests/logical_not_01.f90
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#4998 chore: do not link target if value is string section and not an array
  integration_tests/CMakeLists.txt
  integration_tests/string_39.f90
  integration_tests/string_40.f90
  integration_tests/subroutines_14.f90
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5010 CI: introduce dummy CI jobs to resolve "expected check" error
  .github/workflows/CI.yml
Labels: CI, simplifier pass

#5012 test: add MRE for dftatom as integration test case
  integration_tests/CMakeLists.txt
  integration_tests/binop_of_struct_instance_in_function_call.f90
Labels: tests

#5009 force replace a FunctionCall when original target and --realloc-lhs is true
  .github/workflows/CI.yml
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5020 CI simplifier pass: Update CI
  .github/workflows/CI.yml
Labels: simplifier pass

#5023 Remove old implementation of `len` intrinsic from old runtime lib
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic

#5022 test: add MRE for dftatom as integration test case
  integration_tests/CMakeLists.txt
  integration_tests/test_call_arg_structinstance_member.f90
Labels: tests

#5021 chore: don't create temporary for StructInstanceMember when present as call argument
  .github/workflows/CI.yml
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5026 Remove unused interface for is_iostat_end and is_iostat_eor from old runtime lib
  src/lfortran/semantics/comptime_eval.h
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
Labels: intrinsic

#5028 ci: uncomment docs build
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5032 ci: uncomment portion of CI that works
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/do_concurrent_10.f90
  integration_tests/do_concurrent_11.f90
  integration_tests/do_concurrent_12.f90
  integration_tests/do_concurrent_13.f90
  integration_tests/openmp_16.f90
  integration_tests/openmp_28.f90
  integration_tests/openmp_30.f90
  integration_tests/openmp_33.f90
  src/libasr/pass/pass_manager.h
  tests/reference/c-case_05-2fed69e.json
  tests/reference/c-case_05-2fed69e.stdout
  tests/reference/c-case_06-ecc9f3c.json
  tests/reference/c-case_06-ecc9f3c.stdout
  tests/reference/c-program4-d60edeb.json
  tests/reference/c-program4-d60edeb.stdout
  tests/reference/llvm-arrays_op_4-df4e84d.json
  tests/reference/llvm-arrays_op_4-df4e84d.stdout
  tests/reference/llvm-associate_02-558b0e6.json
  tests/reference/llvm-associate_02-558b0e6.stdout
  tests/reference/llvm-associate_03-68dfbc7.json
  tests/reference/llvm-associate_03-68dfbc7.stdout
  tests/reference/llvm-bindc3-d064ff7.json
  tests/reference/llvm-bindc3-d064ff7.stdout
  tests/reference/llvm-callback_05-c86f2cc.json
  tests/reference/llvm-callback_05-c86f2cc.stdout
  tests/reference/llvm-global_scope7-69a167f.json
  tests/reference/llvm-global_scope7-69a167f.stdout
  tests/reference/llvm-implicit_interface_04-9b6786e.json
  tests/reference/llvm-implicit_interface_04-9b6786e.stdout
  tests/reference/llvm-int_dp-9b89d9f.json
  tests/reference/llvm-int_dp-9b89d9f.stdout
  tests/reference/llvm-int_dp_param-f284039.json
  tests/reference/llvm-int_dp_param-f284039.stdout
  tests/reference/llvm-intrinsics_02-404e16e.json
  tests/reference/llvm-intrinsics_02-404e16e.stdout
  tests/reference/llvm-intrinsics_03-0771f1b.json
  tests/reference/llvm-intrinsics_03-0771f1b.stdout
  tests/reference/llvm-return_03-3f7087d.json
  tests/reference/llvm-return_03-3f7087d.stdout
  tests/reference/llvm-string_01-deb8ed3.json
  tests/reference/llvm-string_01-deb8ed3.stdout
  tests/reference/llvm-string_10-ef0078f.json
  tests/reference/llvm-string_10-ef0078f.stdout
Labels: CI, simplifier pass

#5038 ci: update to run tests with LLVM 17 and higher
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#5041 tests: delete tests which are merged into main
  integration_tests/CMakeLists.txt
  integration_tests/legacy_array_sections_05.f90
  integration_tests/logical_not_01.f90
  integration_tests/string_39.f90
  integration_tests/string_40.f90
  integration_tests/subroutines_14.f90
Labels: tests, simplifier pass

#5044 CI: try uncommenting LLVM->WASM CI job
  .github/workflows/CI.yml
Labels: simplifier pass

#5043 CI: update the CI job for fastGPT
  .github/workflows/CI.yml
Labels: simplifier pass

#5045 CI: uncomment test without LLVM backend
  .github/workflows/CI.yml
Labels: simplifier pass

#5049 Throw error for non scalar kind arg in int intrinsic
  src/lfortran/semantics/ast_common_visitor.h
  tests/errors/int_01.f90
  tests/reference/asr-int_01-9bf3eb9.json
  tests/reference/asr-int_01-9bf3eb9.stderr
  tests/reference/asr-kind_01-6c675be.json
  tests/reference/asr-kind_01-6c675be.stderr
Labels: intrinsic

#5056 chore: set allocation size for intrinsic elemental function "INT"
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5053 fix: consider last index correctly in `index` intrinsic
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_322.f90
  src/libasr/pass/intrinsic_functions.h
  tests/reference/llvm-string_11-e6c763f.json
  tests/reference/llvm-string_11-e6c763f.stdout
Labels: intrinsic

#5061 rem: present from runtime library as implemented as an intrinsic
  src/lfortran/semantics/comptime_eval.h
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/transform_optional_argument_functions.cpp
  src/runtime/CMakeLists.txt
  src/runtime/builtin/CMakeLists.txt
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/reference/asr-derived_types_04-da02dd9.json
  tests/reference/asr-derived_types_04-da02dd9.stdout
  tests/reference/asr-derived_types_06-847ca73.json
  tests/reference/asr-derived_types_06-847ca73.stdout
  tests/reference/asr-derived_types_07-c5a29e3.json
  tests/reference/asr-derived_types_07-c5a29e3.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-functions_15-ce4c4bb.json
  tests/reference/asr-functions_15-ce4c4bb.stdout
  tests/reference/asr-functions_16-3e10090.json
  tests/reference/asr-functions_16-3e10090.stdout
  tests/reference/asr-int_01-9bf3eb9.stdout
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-optional1-c14719e.json
  tests/reference/asr-optional1-c14719e.stdout
  tests/reference/asr-select_type_03-f21585a.json
  tests/reference/asr-select_type_03-f21585a.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
  tests/reference/pass_transform_optional_argument_functions-functions_15-581089a.json
  tests/reference/pass_transform_optional_argument_functions-functions_15-581089a.stdout
Labels: intrinsic

#5064 cherry-pick 'where' tests fix from array_op_refac branch
  integration_tests/CMakeLists.txt
  integration_tests/where_03.f90
  integration_tests/where_04.f90
  integration_tests/where_10.f90
  src/libasr/asdl_cpp.py
  src/libasr/pass/array_op.cpp
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/where.cpp
  tests/reference/asr-where_03-a34eed8.json
  tests/reference/asr-where_04-a7fce45.json
  tests/reference/pass_where-where_01-94e4416.json
  tests/reference/pass_where-where_01-94e4416.stdout
  tests/reference/pass_where-where_02-1839d96.json
  tests/reference/pass_where-where_02-1839d96.stdout
  tests/reference/pass_where-where_03-00685f9.json
  tests/reference/pass_where-where_03-00685f9.stdout
  tests/reference/pass_where-where_04-2ee4397.json
  tests/reference/pass_where-where_04-2ee4397.stdout
Labels: simplifier pass

#5068 test: add MRE for function call of a function call for a generic interface
  integration_tests/CMakeLists.txt
  integration_tests/generic_interface_function_call_of_function_call.f90
Labels: tests

#5071 chore: replace intrinsic elemental function with temporary when return type is StructType
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5075 tests: add MRE extracted from stdlib
  integration_tests/CMakeLists.txt
  integration_tests/elemental_function_overloaded_compare.f90
Labels: tests

#5077 chore: fix return type of elemental function (could be of generic procedure)
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/elemental_function_scalar_array_arg.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/reference/asr-template_03b-0778e50.json
  tests/reference/asr-template_03b-0778e50.stdout
  tests/reference/asr-template_04-f41dd3e.json
  tests/reference/asr-template_04-f41dd3e.stdout
Labels: simplifier pass

#5078 ci: enable ctest on stdlib
  .github/workflows/CI.yml
  a.f90
Labels: CI, simplifier pass

#5080 ci: use `node-18.20.3-64bit` for emsdk installation
  .github/workflows/CI.yml
Labels: CI

#5079 ci: comment other CI to test c/c++ backend and iterate
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#5085 ci: sync CI with main
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
Labels: CI, tests, simplifier pass

#5084 Merge main into simplifier pass
  .github/workflows/CI.yml
  .github/workflows/upload_docker_build.yml
  integration_tests/CMakeLists.txt
  integration_tests/elemental_function_overloaded_compare.f90
  integration_tests/generic_interface_function_call_of_function_call.f90
  integration_tests/intrinsics_233.f90
  integration_tests/intrinsics_275.f90
  integration_tests/intrinsics_288.f90
  integration_tests/intrinsics_322.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/comptime_eval.h
  src/libasr/codegen/asr_to_fortran.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function_registry.h
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/transform_optional_argument_functions.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/runtime/CMakeLists.txt
  src/runtime/builtin/CMakeLists.txt
  src/runtime/builtin/lfortran_intrinsic_builtin.f90
  tests/errors/int_01.f90
  tests/reference/asr-derived_types_04-da02dd9.json
  tests/reference/asr-derived_types_04-da02dd9.stdout
  tests/reference/asr-derived_types_06-847ca73.json
  tests/reference/asr-derived_types_06-847ca73.stdout
  tests/reference/asr-derived_types_07-c5a29e3.json
  tests/reference/asr-derived_types_07-c5a29e3.stdout
  tests/reference/asr-fn5-3d75eb7.json
  tests/reference/asr-fn5-3d75eb7.stdout
  tests/reference/asr-functions_15-ce4c4bb.json
  tests/reference/asr-functions_15-ce4c4bb.stdout
  tests/reference/asr-functions_16-3e10090.json
  tests/reference/asr-functions_16-3e10090.stdout
  tests/reference/asr-int_01-9bf3eb9.json
  tests/reference/asr-int_01-9bf3eb9.stderr
  tests/reference/asr-int_01-9bf3eb9.stdout
  tests/reference/asr-kind_01-6c675be.json
  tests/reference/asr-kind_01-6c675be.stderr
  tests/reference/asr-modules_48-6cf0505.json
  tests/reference/asr-modules_48-6cf0505.stdout
  tests/reference/asr-optional1-c14719e.json
  tests/reference/asr-optional1-c14719e.stdout
  tests/reference/asr-select_type_03-f21585a.json
  tests/reference/asr-select_type_03-f21585a.stdout
  tests/reference/asr-select_type_04-e8b402f.json
  tests/reference/asr-select_type_04-e8b402f.stdout
  tests/reference/llvm-string_11-e6c763f.json
  tests/reference/llvm-string_11-e6c763f.stdout
  tests/reference/pass_transform_optional_argument_functions-functions_15-581089a.json
  tests/reference/pass_transform_optional_argument_functions-functions_15-581089a.stdout
Labels: simplifier pass

#5087 chore: remove stray file `a.f90`
  a.f90
Labels: simplifier pass

#5086 chore: Temporary for transpose intrinsic array function
  .github/workflows/CI.yml
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5088 tests: enable functional integration test
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#5047 test: add MRE for fastGPT with '--realloc-lhs' flag
  integration_tests/CMakeLists.txt
  integration_tests/assign_allocatable_array_of_struct_instances.f90
Labels: tests

#5094 Add experimental-simplifer flag
  src/bin/lfortran.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/utils.h
Labels: simplifier pass

#5102 asr verify: uncomment ASR verify check
  src/libasr/asr_verify.cpp
Labels: simplifier pass

#5105 Undo changes which aren't needed any more in simplifier_pass
  integration_tests/nbody.f90
  src/lfortran/mod_to_asr.cpp
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/asr_builder.h
  src/libasr/asr_utils.h
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/global_stmts.cpp
  src/libasr/pass/inline_function_calls.cpp
  src/libasr/pass/instantiate_template.cpp
  src/libasr/pass/pass_compare.cpp
  src/libasr/pass/pass_list_expr.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/replace_symbolic.cpp
  src/libasr/pass/select_case.cpp
  src/libasr/pass/simplifier.cpp
  src/libasr/pass/while_else.cpp
Labels: simplifier pass

#5108 Merge main into simplifier pass
  integration_tests/CMakeLists.txt
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_utils.h
Labels: simplifier pass

#5115 sync:`implied_do_loops`, `init_expr`, `pass_utils.h/.cpp` with simplifier
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/init_expr.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
Labels: sync

#5116 sync: `inline_function_calls` and `instantitate_template` pass
  src/libasr/pass/inline_function_calls.cpp
  src/libasr/pass/instantiate_template.cpp
Labels: sync

#5118 Sync : ast_body_visitor, ast_common_visitor, CMakeLists, asr_builder,…
  src/lfortran/semantics/ast_body_visitor.cpp
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/CMakeLists.txt
  src/libasr/asr_builder.h
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/libasr/pass/simplifier.cpp
Labels: sync

#5119 Sync : Port some visitors + call the class to start visiting the tran…
  src/libasr/pass/simplifier.cpp
Labels: sync

#5099 Fix issues with ``ArrayBroadcast`` node
  integration_tests/CMakeLists.txt
  integration_tests/arrays_55.f90
  integration_tests/arrays_56.f90
  src/libasr/asr_utils.h
  src/libasr/pass/array_op.cpp
  src/libasr/pass/simplifier.cpp
  tests/reference/c-pragma2-a14de52.json
  tests/reference/c-pragma2-a14de52.stdout
  tests/reference/llvm-arrays_25-5b87ac7.json
  tests/reference/llvm-arrays_25-5b87ac7.stdout
Labels: simplifier pass

#5123 Merge main into simplifier pass
  .github/workflows/CI.yml
  integration_tests/CMakeLists.txt
  integration_tests/intrinsics_78.f90
  integration_tests/run_tests.py
  src/libasr/asr_builder.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/init_expr.cpp
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/simplifier.cpp
Labels: simplifier pass

#5128 Sync : Port class 'ArgSimplifier'
  integration_tests/CMakeLists.txt
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/simplifier.cpp
Labels: sync

#5131 Merge main into simplifier pass
  integration_tests/CMakeLists.txt
  integration_tests/array_section_03.f90
  src/lfortran/parser/preprocessor.re
  src/libasr/asr_utils.h
  tests/preprocessor18.f90
  tests/reference/asr_preprocess-preprocessor18-618bfdc.json
  tests/reference/asr_preprocess-preprocessor18-618bfdc.stdout
  tests/tests.toml
Labels: simplifier pass

#5132 undo commented out 'Abs' argument check
  src/libasr/pass/intrinsic_functions.h
Labels: simplifier pass

#5133 port test programs from simplifier_pass PR
  integration_tests/CMakeLists.txt
  integration_tests/arrays_54.f90
  integration_tests/arrays_55.f90
  integration_tests/arrays_56.f90
Labels: sync

#5122 syn: intrinsic_functions.h with main
  src/libasr/pass/intrinsic_functions.h
Labels: sync

#5145 Remove 'nollvm17orhigher' label from CMakeLists.txt
  integration_tests/CMakeLists.txt
Labels: simplifier pass

#5146 chore: sync `gen_pass.py` with main
  src/libasr/gen_pass.py
Labels: sync

#5125 chore: sync `array_op` pass with main
  integration_tests/CMakeLists.txt
  src/bin/lfortran.cpp
  src/libasr/CMakeLists.txt
  src/libasr/asdl_cpp.py
  src/libasr/asr_utils.h
  src/libasr/gen_pass.py
  src/libasr/pass/array_op_simplifier.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/pass/replace_array_op_simplifier.h
  src/libasr/pass/simplifier.cpp
Labels: sync

#5120 Sync : asr_util.h
  src/bin/lfortran.cpp
  src/libasr/asr_utils.h
Labels: sync

#5159 chore: sync `intrinsic_func_registry_util_gen.py` with main
  src/libasr/intrinsic_func_registry_util_gen.py
Labels: sync

#5162 restore array_op pass in pass_manager for "experimental simplifier"
  integration_tests/CMakeLists.txt
  src/libasr/pass/pass_manager.h
Labels: sync

#5160 chore: sync `asdl_cpp.py` with main
  src/libasr/asdl_cpp.py
Labels: sync

#5165 sync integration tests from simplifier_pass branch
  integration_tests/arrays_54.f90
  integration_tests/enum_03.f90
Labels: sync

#5167 sync: update simplifier.cpp from simplifier_pass branch
  src/libasr/pass/simplifier.cpp
Labels: sync

#5168 sync: update asr_to_llvm.cpp
  src/libasr/codegen/asr_to_llvm.cpp
Labels: sync

#5169 sync back 'subroutine_from_function.cpp' with main
  src/libasr/pass/subroutine_from_function.cpp
Labels: simplifier pass

#5126 sync: `intrinsic_function.cpp`, `intrinsic_array_function_registry.h` with simplifier
  integration_tests/CMakeLists.txt
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/intrinsic_functions.h
Labels: sync

#5130 chore: sync `where` pass with main
  src/libasr/CMakeLists.txt
  src/libasr/gen_pass.py
  src/libasr/pass/pass_manager.h
  src/libasr/pass/replace_where_simplifier.h
  src/libasr/pass/where_simplifier.cpp
Labels: sync

#5171 sync: asr_to_wasm.cpp from simplifier pass branch
  src/libasr/codegen/asr_to_wasm.cpp
Labels: sync

#5136 chore: sync `asr_verify` with main
  src/libasr/asr_verify.cpp
  src/libasr/asr_verify.h
Labels: sync

#5172 chore: merge `main` into `simplifier_pass`
  integration_tests/CMakeLists.txt
  src/libasr/CMakeLists.txt
  src/libasr/asr_verify.cpp
  src/libasr/asr_verify.h
  src/libasr/gen_pass.py
  src/libasr/pass/intrinsic_array_function_registry.h
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/intrinsic_functions.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/replace_where_simplifier.h
  src/libasr/pass/where_simplifier.cpp
Labels: simplifier pass

#5177 chore: resolve merge conflicts
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: simplifier pass

#5178 chore: bring back changes from `main` using `use_experimental_simplifier` guard
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: simplifier pass

#5180 chore: shorten diff between `main` and `simplifier_pass`
  src/libasr/asdl_cpp.py
  src/libasr/intrinsic_func_registry_util_gen.py
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  src/libasr/pass/while_else.cpp
  src/libasr/pass/while_else.h
Labels: simplifier pass

#5183 Merge main into simplifier pass
  src/libasr/pass/intrinsic_array_function_registry.h
Labels: simplifier pass

#5188 sync: implied_do_loops.cpp and init_expr.cpp with main branch
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/init_expr.cpp
Labels: simplifier pass

#5184 Turn on testing with experiemntal-simplifier for some tests
  integration_tests/CMakeLists.txt
Labels: sync

#5189 sync: pass_manager with 'main' branch
  src/libasr/pass/intrinsic_function.cpp
  src/libasr/pass/pass_manager.h
  src/libasr/pass/while_else.h
Labels: simplifier pass, sync

#5187 use 'external' variable instead of 'static' variable
  integration_tests/CMakeLists.txt
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
Labels: tests

#5191 Merge main into simplifier pass
  integration_tests/CMakeLists.txt
  src/bin/lfortran.cpp
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
Labels: simplifier pass

#5208 fix: m_type_declaration corrected for procedure declaration
  integration_tests/CMakeLists.txt
  integration_tests/procedure_decl_01_a.f90
  integration_tests/procedure_decl_01_b.f90
  src/lfortran/semantics/ast_common_visitor.h
  src/libasr/asr_verify.cpp
Labels: PRIMA
