Repository lfortran/lfortran, pull requests merged in 2025-08, with the labels that each got.

#8195 CI: setup FPM at CI
  ci/test_third_party_codes.sh
Labels: fpm

#8200 fix: get correct struct symbol from implied do loop
  integration_tests/derived_types_72.f90
  src/libasr/asr_utils.cpp
Labels: fpm

#8220 test: add integration test
  integration_tests/CMakeLists.txt
  integration_tests/derived_types_72.f90
Labels: fpm

#8320 fix: create load for nested llvm_pointer SIM
  integration_tests/CMakeLists.txt
  integration_tests/derived_types_76.f90
  src/libasr/codegen/asr_to_llvm.cpp
Labels: toml-f

#8321 refactor: some of the string runtime functions
  src/libasr/runtime/lfortran_intrinsics.c
Labels: Tests::Run-Exhaustive

#8312 fix: common block use
  integration_tests/CMakeLists.txt
  integration_tests/common_14.f90
  src/lfortran/semantics/ast_common_visitor.h
  tests/tests.toml
Labels: Tests::Run-Exhaustive

#8322 refactor: some of the string runtime functions
  src/libasr/runtime/lfortran_intrinsics.c
Labels: Tests::Run-Exhaustive

#8344 fix: get rhs class type object and store in rhs using bitcast
  integration_tests/intrinsics_334.f90
  src/libasr/codegen/asr_to_llvm.cpp
  tests/reference/asr-intrinsics_334-6d740cf.json
  tests/reference/asr-intrinsics_334-6d740cf.stdout
Labels: fpm, Tests::Run-Exhaustive

#8353 feat: add a new flag `--new-classes`
  src/bin/lfortran_command_line_parser.cpp
  src/libasr/utils.h
Labels: Tests::Run-Exhaustive

#8352 fix: create allocatable temporary if string len is runtime
  integration_tests/CMakeLists.txt
  integration_tests/string_69.f90
  src/libasr/pass/implied_do_loops.cpp
  tests/reference/pass_implied_do_loops-modules_35-c089638.json
  tests/reference/pass_implied_do_loops-modules_35-c089638.stdout
Labels: tests, MCLI2, Tests::Run-Exhaustive

#8379 CI: test `fortran-shlex`
  ci/test_third_party_codes.sh
Labels: fortran-shlex, fpm

#8347 fix : Load all the dependent Submodules for a module that is already loaded in global scope
  integration_tests/CMakeLists.txt
  integration_tests/separate_compilation_24.f90
  integration_tests/separate_compilation_24a.f90
  integration_tests/separate_compilation_24b.f90
  src/lfortran/semantics/ast_symboltable_visitor.cpp
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
Labels: Tests::Run-Exhaustive

#8438 Fix: LSP correctly infers variable declaration type/class (#8363)
  src/bin/lfortran_accessor.cpp
  src/libasr/asr_utils.h
  tests/server/tests/test_features.py
Labels: Tests::Run-Exhaustive
